{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TipoMateria edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('tipoMateria_edit', {'id':tipoMateria.idTipoMateria }) }}" method="post">
        <input type="text" value="{{ tipoMateria.idTipoMateria }}" hidden="hidden" name="id"><br/>
        <input type="text" value="{{ tipoMateria.nombreTipoMateria }}" placeholder="nombre" name="nombreTipoMateria"><br/>

        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('tipoMateria') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
