{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TipoMateria</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id TipoMateria</th>
            <td>{{ tipoMateria.idTipoMateria }}</td>
        </tr>
        <tr>
            <th>TipoMateria</th>
            <td>{{ tipoMateria.nombreTipoMateria }}</td>
        </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('tipoMateria') }}">
                Volver a la lista
            </a>
        </li>
        <li>
            <a href="{{ path('tipoMateria_edit', { 'id': tipoMateria.idTipoMateria }) }}">
                Editar
            </a>
        </li>
        <li> <a href="{{ path('tipoMateria_delete', { 'id': tipoMateria.idTipoMateria }) }}">Borrar</a></li>
    </ul>
{% endblock %}
