{% extends '::base.html.twig' %}

{% block body -%}

    {{ include('BoletinesBundle::Padre/fixed_nav.html.twig') }}
    {{ include('BoletinesBundle::Padre/main_nav.html.twig') }}

    <!-- startMain content-->

    <div class="container">
        <div class="row">
            <div class="col s10 m10 l10">
                <h3 class="header">Inicio</h3>

            </div>
        </div>


        <div class="row mar-top-soft">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3"><a class="student-pick1 active" href="#test1" ><img src={{ asset('bundles/boletines/images//student-avatar-f.png')}} alt="as" class="avatar-nav circle1"><br><span class="title">Antonella Peacecraft</span></a></li>
                    <li class="tab col s3"><a class="student-pick1" href="#test2" ><img src={{ asset('bundles/boletines/images//student-avatar-m.png')}} alt="as" class="avatar-nav circle1"><br><span class="title">Juan Carlos Peacecraft</span></a></li>
                    <li class="tab col s3"><a class="student-pick1" href="#test3"><img src={{ asset('bundles/boletines/images//student-avatar-f.png')}} alt="as" class="avatar-nav circle1"><br><span class="title">Victoria Peacecraft</span></a></li>
                    <li class="tab col s3"><a class="student-pick1" href="#test4"><img src={{ asset('bundles/boletines/images//student-avatar-m.png')}} alt="as" class="avatar-nav circle1"><br><span class="title">Horacio Peacecraft</span></a></li>

                </ul>
            </div>
            <div id="test1" class="col s12 mar-top fadeIn animated"> <!-- start student 1-->
                <div class="col s12 m6 l2"> <!-- startWidget 4-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel-default">
                                <div class="panel-body-school normalh center-align">
                                    <a href="{{ path('home_inst_manuel_belgrano') }}"><img src={{ asset('bundles/boletines/images//mb.png')}} alt="as" class="inst-thumb"></a>
                                    <h6 class="school-style">Colegio Manuel Belgrano</h6>
                                    <h6 class="">Nivel secundario</h6>

                                    <div class="col s4">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 4-->
                <div class="col s12 m6 l4"> <!-- startWidget 1-->
                    <div class="row ">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-calendar-insert"></i> Próximos eventos</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh">
                                    <div class="col s12">
                                        <h6><span class="widget-events-date">11 Jun</span> Reunion de padres</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">04 Jul</span>  Examen de Geografía</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">29 Jul</span>  Examen de Matemática</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">9 ago</span>  Examen de Inglés</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->
                <div class="col s12 m6 l3"> <!-- startWidget 2-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-clipboard-text"></i> Asistencia</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh center-align">
                                    <h1 class="asist-m">3<span class="asist-widget-span">/25</span></h1>
                                    <h6 class="">Inasistencias</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 2-->
                <div class="col s12 m6 l3"> <!-- startWidget 3-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-neutral"></i> Disciplina</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body normalh center-align">
                                    <div class="col s12 pad-top-disci">
                                        <i class="icon-linear-happy discipline-widget-i happy"></i><br>
                                        <h5 class="discipline-widget-t">¡Buena conducta!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 3-->

                <div class="col s12">
                    <ul class="collapsible mar-top" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-history"></i> Materias asignadas<i class="icon-linear-chevron-down right"></i></h5></div>
                            <div class="collapsible-body">
                                <table class="week">
                                    <thead>
                                    <tr>
                                        <th class="week-tittle">Lunes</th>
                                        <th class="week-tittle">Martes</th>
                                        <th class="week-tittle">Miércoles</th>
                                        <th class="week-tittle">Jueves</th>
                                        <th class="week-tittle">Viernes</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-grey"> Música</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-grey"> Música</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-red"> Física</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </li>

                    </ul>

                </div>

            </div><!-- end student 1-->

            <div id="test2" class="col s12 mar-top fadeIn animated"> <!-- start student 2-->
                <div class="col s12 m6 l2"> <!-- startWidget 4-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel-default">
                                <div class="panel-body-school normalh center-align">
                                    <a href="{{ path('home_inst_belgrano_day_school') }}"><img src={{ asset('bundles/boletines/images//belgranods.jpg')}} alt="as" class="inst-thumb"></a>
                                    <h6 class="school-style">Belgrano Day School</h6>
                                    <h6 class="">Nivel secundario</h6>

                                    <div class="col s4">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 4-->
                <div class="col s12 m6 l4"> <!-- startWidget 1-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-calendar-insert"></i> Próximos eventos</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh">
                                    <div class="col s12">
                                        <h6><span class="widget-events-date">11 Jun</span> Reunion de padres</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">04 Jul</span>  Examen de Historia</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">29 Jul</span>  Examen de Inglés</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">9 ago</span>  Examen de Literatura</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->
                <div class="col s12 m6 l3"> <!-- startWidget 2-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-clipboard-text"></i> Asistencia</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh center-align">
                                    <h1 class="asist-m">12<span class="asist-widget-span">/25</span></h1>
                                    <h6 class="">Inasistencias</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 2-->
                <div class="col s12 m6 l3"> <!-- startWidget 3-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-neutral"></i> Disciplina</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body normalh center-align">
                                    <div class="col s12 pad-top-disci">
                                        <i class="icon-linear-mad discipline-widget-i sad"></i><br>
                                        <h5 class="discipline-widget-t">¡Mala conducta!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 3-->






                <div class="col s12">
                    <ul class="collapsible mar-top" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-history"></i> Materias asignadas<i class="icon-linear-chevron-down right"></i></h5></div>
                            <div class="collapsible-body">
                                <table class="week">
                                    <thead>
                                    <tr>
                                        <th class="week-tittle">Lunes</th>
                                        <th class="week-tittle">Martes</th>
                                        <th class="week-tittle">Miércoles</th>
                                        <th class="week-tittle">Jueves</th>
                                        <th class="week-tittle">Viernes</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-grey"> Música</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-grey"> Música</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-red"> Física</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </li>

                    </ul>

                </div>

            </div> <!-- end student 2-->
            {# <div id="test3" class="col s12"></div>
            <div id="test4" class="col s12"></div> #}

            <div id="test3" class="col s12 mar-top fadeIn animated"> <!-- start student 3-->
                <div class="col s12 m6 l2"> <!-- startWidget 4-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel-default">
                                <div class="panel-body-school normalh center-align">
                                    <a href="{{ path('home_inst_manuel_belgrano') }}"><img src={{ asset('bundles/boletines/images//mb.png')}} alt="as" class="inst-thumb"></a>
                                    <h6 class="school-style">Colegio Manuel Belgrano</h6>
                                    <h6 class="">Nivel secundario</h6>

                                    <div class="col s4">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 4-->
                <div class="col s12 m6 l4"> <!-- startWidget 1-->
                    <div class="row ">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-calendar-insert"></i> Próximos eventos</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh">
                                    <div class="col s12">
                                        <h6><span class="widget-events-date">11 Jun</span> Reunion de padres</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">04 Jul</span>  Examen de Geografía</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">29 Jul</span>  Examen de Matemática</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">9 ago</span>  Examen de Inglés</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->
                <div class="col s12 m6 l3"> <!-- startWidget 2-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-clipboard-text"></i> Asistencia</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh center-align">
                                    <h1 class="asist-m">3<span class="asist-widget-span">/25</span></h1>
                                    <h6 class="">Inasistencias</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 2-->
                <div class="col s12 m6 l3"> <!-- startWidget 3-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-neutral"></i> Disciplina</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body normalh center-align">
                                    <div class="col s12 pad-top-disci">
                                        <i class="icon-linear-happy discipline-widget-i happy"></i><br>
                                        <h5 class="discipline-widget-t">¡Buena conducta!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 3-->

                <div class="col s12">
                    <ul class="collapsible mar-top" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-history"></i> Materias asignadas<i class="icon-linear-chevron-down right"></i></h5></div>
                            <div class="collapsible-body">
                                <table class="week">
                                    <thead>
                                    <tr>
                                        <th class="week-tittle">Lunes</th>
                                        <th class="week-tittle">Martes</th>
                                        <th class="week-tittle">Miércoles</th>
                                        <th class="week-tittle">Jueves</th>
                                        <th class="week-tittle">Viernes</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-grey"> Música</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-grey"> Música</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-red"> Física</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </li>

                    </ul>

                </div>

            </div><!-- end student 3-->

            <div id="test4" class="col s12 mar-top fadeIn animated"> <!-- start student 4-->
                <div class="col s12 m6 l2"> <!-- startWidget 4-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel-default">
                                <div class="panel-body-school normalh center-align">
                                    <a href="{{ path('home_inst_belgrano_day_school') }}"><img src={{ asset('bundles/boletines/images//belgranods.jpg')}} alt="as" class="inst-thumb"></a>
                                    <h6 class="school-style">Belgrano Day School</h6>
                                    <h6 class="">Nivel secundario</h6>

                                    <div class="col s4">


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 4-->
                <div class="col s12 m6 l4"> <!-- startWidget 1-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-calendar-insert"></i> Próximos eventos</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh">
                                    <div class="col s12">
                                        <h6><span class="widget-events-date">11 Jun</span> Reunion de padres</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">04 Jul</span>  Examen de Historia</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">29 Jul</span>  Examen de Inglés</h6>
                                        <div class="divider"></div>
                                        <h6><span class="widget-events-date">9 ago</span>  Examen de Literatura</h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 1-->
                <div class="col s12 m6 l3"> <!-- startWidget 2-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-clipboard-text"></i> Asistencia</h5></a>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body normalh center-align">
                                    <h1 class="asist-m">12<span class="asist-widget-span">/25</span></h1>
                                    <h6 class="">Inasistencias</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 2-->
                <div class="col s12 m6 l3"> <!-- startWidget 3-->
                    <div class="row">
                        <div class="col s12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col s12 widget-link">
                                            <a href="{{ path('home_under_construction') }}"><h5 class="panel-title"><i class="icon-linear-neutral"></i> Disciplina</h5></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body normalh center-align">
                                    <div class="col s12 pad-top-disci">
                                        <i class="icon-linear-mad discipline-widget-i sad"></i><br>
                                        <h5 class="discipline-widget-t">¡Mala conducta!</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- endWidget 3-->






                <div class="col s12">
                    <ul class="collapsible mar-top" data-collapsible="expandable">
                        <li>
                            <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-history"></i> Materias asignadas<i class="icon-linear-chevron-down right"></i></h5></div>
                            <div class="collapsible-body">
                                <table class="week">
                                    <thead>
                                    <tr>
                                        <th class="week-tittle">Lunes</th>
                                        <th class="week-tittle">Martes</th>
                                        <th class="week-tittle">Miércoles</th>
                                        <th class="week-tittle">Jueves</th>
                                        <th class="week-tittle">Viernes</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">8:00 - 9:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">9:40 - 11:00</span><br><span class="week-subject w-grey"> Música</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">11:20 - 12:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-yellow"> Historia</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-violet"> Literatura</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-pink"> Educación física</span></td>
                                        <td><span clasS="week-time">13:20 - 14:40</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                    </tr>
                                    <tr>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-turquose"> Matemática</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-grey"> Música</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-green"> Inglés</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-red"> Física</span></td>
                                        <td><span clasS="week-time">16:00 - 17:20</span><br><span class="week-subject w-blue"> Geografía</span></td>
                                    </tr>
                                    </tbody>
                                </table></div>
                        </li>

                    </ul>

                </div>

            </div> <!-- end student 4-->


        </div>

    </div>






    <!-- end Main content-->
    {{ include('footer.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible({
                accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
            });
        });
    </script>
{% endblock %}
