<div class="row">
    <div class="col s12 m6 l6">
        <h3 class="header">Tablero</h3>
    </div>
    <div class="col s12 m6 l6">
        {{ macros.show_alumno_activo(app.session.get('alumnoActivo')) }}
    </div>
</div>


<div class="row mar-top-soft">

    <div class="col s12"> <!-- start student 1-->
        <div class="row">        <!-- startWidget row2 de widgets-->
            <div class="col s12 m12 l2"> <!-- startWidget 4-->
                <div class="row">
                    {{ macros.show_institucion_logo_nombre(app.user.institucion) }}
                </div>
            </div><!-- endWidget 4-->

            <div class="col s12 m6 l4"> <!-- startWidget 3-->
                <div class="row">
                    <div class="col s12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col s12 widget-link">
                                        <a href="#"><h5 class="panel-title"><i class="icon-linear-news"></i> Novedades</h5></a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body normalh">
                                <div class="col s12">
                                    <h6><i class="icon-linear-wink news-i news-i-g"></i><span class="widget-news"> {{ conPos }}</span> Felicitaciones</h6>
                                    <h6><i class="icon-linear-mad news-i news-i-b"></i><span class="widget-news"> {{ conNeg }}</span> LLamados de atención</h6>
                                    <h6><i class="icon-linear-envelope news-i news-i-c"></i><span class="widget-news"> 8</span> Comunicados</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- endWidget 3-->
            <div class="col s12 m6 l6"> <!-- startWidget 2-->
                <div class="row">
                    <div class="col s12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col s12 widget-link">
                                        <a href="{{ path('asistencia') }}"><h5 class="panel-title"><i class="icon-linear-clipboard-text"></i> Asistencia</h5></a>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-body normalh center-align ">
                                <div class="col s12 m12 l12"> <div class="row">
                                        <div class="col s6 m6 l6">

                                            <h1 class="asist-m">{{ faltas }}<span class="asist-widget-span">/{{ app.session.get('establecimientoActivo').maximoFaltas }}</span></h1>
                                            <h6 class="">Inasistencias</h6>
                                        </div>
                                        <div class="col s6 m6 l6">

                                            <h1 class="asist-m">{{ tardes }}<span class="asist-widget-span-lates"> </span></h1>
                                            <h6 class="">Llegadas tarde</h6>
                                        </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- endWidget 2-->
        </div> <!-- endt row1 de widgets-->
        <div class="row mar-top-widget">        <!-- startWidget row2 de widgets-->
            <div class="col s12 m6 l6"> <!-- startWidget 1-->
                <div class="row ">
                    <div class="col s12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col s12 widget-link">
                                        <a href="calendario_padre.html"> <h5 class="panel-title"><i class="icon-linear-calendar-insert"></i> Próximas actividades</h5></a>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-body normalh">
                                <div class="col s12">
                                  {% for actividad in actividades|slice(0, maxProxActividades) %}
                                    <h6><span class="widget-events-date">{{ actividad.fechaHoraInicio|localizeddate('none', 'none', app.request.locale, null, "d MMM") }}</span> {{ actividad.nombre }}</h6>
                                    <div class="divider"></div>
                                  {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- endWidget 1-->


            <div class="col s12 m6 l6"> <!-- startWidget 4-->
                <div class="row ">
                    <div class="col s12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col s12 widget-link">
                                        <a href="{{ path('calificacion') }}"> <h5 class="panel-title"><i class="icon-linear-graph"></i> Calificaciones</h5></a>
                                    </div>

                                </div>
                            </div>

                            <div class="panel-body normalh ">
                                <div class="col s12">
                                    {% for calificacion in calificaciones %}
                                        <h6 class="fw-4"><span class="widget-califications-date">{{ calificacion.fecha|date('d/m/Y') }}</span>  {{ calificacion.evaluacion.materia  }} <span class="widget-califications">{{ calificacion.valor }}</span></h6>
                                        <div class="divider"></div>
                                    {% endfor %}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- endWidget 4-->
        </div>        <!-- endt row2 de widgets-->
        <div class="col s12 mar-top-soft">
            <h5 class="panel-title"><i class="icon-linear-history"></i> Calendario</h5>


            <div id="calendar"></div>
        </div>

    </div><!-- end student 1-->


</div>
