{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Examen edit</h1>

    <h2>{{ mensaje }}</h2>
   <p>
       Creado por<b> {{ examen.docente.__toString }}</b>
   </p>

    <form action="{{ path('examen_edit', {'id':examen.idExamen }) }}" method="post">
        <input type="text" value="{{ examen.idExamen }}" hidden="hidden" name="idExamen"><br/>
        <input type="text" value="{{ examen.nombreExamen }}" placeholder="nombre" name="nombreExamen"><br/>
        <input type="datetime" value="{{ examen.fechaExamen|date('d-m-Y H:i') }}" placeholder="fecha" name="fechaExamen"><br/>
        {% if examen.materia != null %}
            <p>Materia Asociada</p>
            <p>{{ examen.materia.__toString() }}</p>
            <p> Si desea cambiarla elija una de la lista de abajo</p>
        {% endif %}
        <select name="idMateria">
            {% for materia in entitiesRelacionadas %}

                <option value="{{materia.idMateria}}">{{materia.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('examen') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
