{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('institucion') }}" >Instituciones</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Editar</a></li>
{% endblock %}

{% block page %}
  <div class="row mar-top-soft">
        <div class="col s10 m10 l10">
          <h3 class="header">Editar institución</h3>
        </div>
  </div>
  <form action="{{ path('institucion_edit', {'id': institucion.id}) }}" method="post" enctype="multipart/form-data">
  <div class="row">
        <div class="input-field col s12 m6 l6">
            <input id="nombre_inst" type="text" class="validate" value="{{ institucion.nombre }}" name="nombreInstitucion">
            <label for="nombre_inst">Nombre de la institución</label>
        </div>
      <div class="input-field col s12 m6 l6">
          <input id="cuit" name="cuit" type="number" class="validate" value="{{ institucion.cuit }}">
          <label for="cuit" data-error="Este campo solo acepta valores numéricos" data-success="Correcto">C.U.I.T</label>
      </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6">
            <div class="file-field input-field">
              <input name="logo" class="file-path validate" type="text"/>
              <label for="logo_img">Logotipo de la institución</label>
              <div class="btn-large">
                <span>Elegir archivo</span>
                <input type="file" name="logoInstitucion" value="{{ institucion.logo }}"/>
              </div>
           </div>
        {# </form> #}
    </div>
  </div>
      <br/>
  <div class="row">
      <button class="btn-large waves-effect waves-light center-align mar-right" type="submit">Guardar</button>
  </div>
  </form>
{% endblock %}
