{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Institucion list</h1>
    <a href={{ path('boletines_nueva_institucion') }}>agregar</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>Nombreinstitucion</th>
                <th>Direccioninstitucion</th>
                <th>Telefonoinstitucion</th>
                <th>Emailinstitucion</th>
                <th>Idinstitucion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href={{ path('boletines_institucion', {'id':entity.idInstitucion }) }}>{{ entity.nombreInstitucion}}</a></td>
                <td>{{ entity.direccionInstitucion }}</td>
                <td>{{ entity.telefonoInstitucion }}</td>
                <td>{{ entity.emailInstitucion }}</td>
                <td>{{ entity.idInstitucion }}</td>
                <td>
1                <td><a href={{ path('boletines_delete', {'id':entity.idInstitucion }) }}>borrar</a></td>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
    </ul>
    {% endblock %}
