{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Institucion list</h1>
    <a href={{ path('institucion_new') }}>agregar</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>id Institucion</th>
                <th>Institucion</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.idInstitucion }}</td>
                <td><a href={{ path('institucion_show', {'id':entity.idInstitucion }) }}>{{ entity.__toString()}}</a></td>

                <td>
                <ul>
                        <li>
                            <a href="{{ path('institucion_show', { 'id': entity.idInstitucion }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('institucion_edit', { 'id': entity.idInstitucion }) }}">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('institucion_delete', { 'id': entity.idInstitucion }) }}">Borrar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <ul>
        <li>
            <a href="{{ path('institucion_new') }}">
                Crear Nueva Institucion
            </a>
        </li>
    </ul>
    {% endblock %}
