{% extends '::base.html.twig' %}

{% block body -%}

  <header>
    {{ include('BoletinesBundle::Institucion/fixed_nav.html.twig') }}
    {{ include('BoletinesBundle::Institucion/main_nav.html.twig', {'nav_selected': 'instituciones'}) }}
  </header>



 <!-- startMain content-->
<div class="container">
  <div class="row mar-top-soft">

    <div class="col s12 m12 l12">

      <!--  Tables Section-->


      <div id="striped" >
        <div class="row">
          <div class="col s10 m10 l10">
            <h3 class="header">Instituciones</h3>

          </div>

          <div class="col s2 m2 l2">
            <a href="{{ path('institucion_new') }}" data-position="left" data-delay="25" data-tooltip="Crear nueva Instituci贸n" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-plus"></i></a>
          </div>
              <div class="input-field col s11">
                  <form action="{{ path('institucion_search') }}" method="post" enctype="multipart/form-data">
                      <i class="icon-linear-magnifier prefix"></i>
                      <input id="icon_prefix" type="text" class="validate" name="search">
                      <label for="icon_prefix">Buscar instituci贸n</label>
                  </form>
              </div>
        </div>

          <div class="row">
            <div class="col s12">

              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="id">Nombre</th>
                      <th data-field="name">Establecimientos</th>
                      <th data-field="price">Creaci贸n</th>
                      <th data-field="price">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for entity in entities %}
                  <tr>
                    <td><a href="{{ path('institucion_show', {'id': entity.id}) }}" class="casual">{{ entity.nombre }}</a></td>
                    <td><span class="badge">{{ entity.establecimientos|length }}</span></td>
                    {# <td>15 Sep, 8:56 AM 2015</td> #}
                    {#<td>{{ entity.creationTime | localizeddate('none', 'none', 'es_AR', null, "d MMM, hh:mm a Y") }}</td>#}
                    <td>
                      <a href="{{ path('institucion_edit', {'id': entity.id}) }}" data-position="top" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light"><i class="icon-linear-pencil"></i></a>
                      <a href="{{ path('institucion_delete', {'id': entity.id}) }}" data-position="top" data-delay="25" data-tooltip="Eliminar instituci贸n" class="tooltipped  btn-small btn waves-effect waves-light"><i class="icon-linear-trash2"></i></a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div>

    </div><!--  End Tables Section  -->
  <div class="row">

    <div class="col s12 m12 l12">
        <ul class="pagination pagi-pad">
              <li class="disabled"><a href="#!"><i class="icon-linear-chevron-left"></i></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="icon-linear-chevron-right"></i></a></li>
            </ul>
    </div>
  </div>
</div>
</div>
 <!-- end Main content-->

   {{ include('::footer.html.twig') }}


{% endblock %}
