{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('institucion') }}" >Instituciones</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Nueva Institucion</a></li>
{% endblock %}

{% block page %}
    <div class="row mar-top-soft">
        <div class="col s10 m10 l10">
            <h3 class="header">Crear institución</h3>
        </div>
    </div>
    <form action="{{ path('institucion_new') }}" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12 m6 l6">
                <input id="nombreInstitucion" type="text" class="validate"  name="nombreInstitucion">
                <label for="nombreInstitucion">Nombre de la institución</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input id="cuit" name="cuit" type="number" class="validate" >
                <label for="cuit" data-error="Este campo solo acepta valores numéricos" data-success="Correcto">C.U.I.T</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l6">
                <div class="file-field input-field">
                    <input name="logo" class="file-path validate" type="text"/>
                    <label for="logo_img">Logotipo de la institución</label>
                    <div class="btn-large">
                        <span>Elegir archivo</span>
                        <input type="file" name="logoInstitucion" />
                    </div>
                </div>
                {# </form> #}
            </div>
        </div>

        <div class="row mar-top-soft">
            <div class="col s10 m10 l10">
                <h3 class="header">Datos de establecimiento</h3>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12 m6 l6">
                <input  name="nombreEstablecimiento" id="nombreEstablecimiento" type="text" class="validate">
                <label for="nombreEstablecimiento">Nombre del establecimiento</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select name="ciudad">
                    <option value="" disabled selected>Ciudad
                    </option>
                    {% for ciudad in ciudades %}
                        <option value="{{ ciudad.id }}" >{{ ciudad.nombre }} </option>
                    {% endfor %}
                </select>

            </div>
            <div class="input-field col s12 m6 l6">
                <input  name="direccion" id="direccion" type="text" class="validate">
                <label for="direccion">Dirección</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input  name="codigoPostal" id="codigoPostal" type="number" class="validate">
                <label for="codigoPostal">Código postal</label>
            </div>
            <!--
            <div class="input-field col s12 m6 l6">
                <input  name="longitud" id="longitud" type="number" class="validate">
                <label for="longitud">Longitud</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input  name="latitud" id="latitud" type="number" class="validate">
                <label for="latitud">Latitud</label>
            </div> -->

            <div class="input-field col s12 m6 l3">
                <input  name="codigoPais" id="codigoPais" type="number" class="validate">
                <label for="codigoPais">Código país</label>
            </div>
            <div class="input-field col s12 m6 l3">
                <input  name="codigoArea" id="codigoArea" type="number" class="validate">
                <label for="codigoArea">Código area</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input  name="telefono" id="telefono" type="number" class="validate">
                <label for="telefono">Teléfono</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input  name="email" id="email" type="email" class="validate">
                <label for="email">Correo electrónico oficial</label>
            </div>
            <div class=" col s12 m6 l6">
                <i class="icon-linear-calendar-insert"></i>
                <label for="fechaInauguracion" class="">Fecha de inaguración</label>
                <input name="fechaInauguracion" type="date" class="datepicker">
            </div>
            <div class="divider mar-bot-top col s12 m12 l12"></div>
            <div class="col s10 m10 l10">
                <h4 class="header">Configuración del establecimiento</h4>
            </div>
            <div class="col s12 m12 l12">
                <h5 class="header">Esquema de calificación</h5>
                <p class="header"> <strong>Este esquema definirá la forma de mostrar y promediar las calificaciones.</strong></p>
                <div class="input-field col s12 m6 l6 mar-top-soft">
                    <select name="esquema">
                        <option value="" disabled selected>Esquema</option>
                        {% for esquema in esquemas %}
                            <option value="{{ esquema.id }}" >{{ esquema.nombre }} </option>
                        {% endfor %}
                    </select>
                    <label>Esquema de calificación</label>
                </div>
            </div>
            <div class="col s12 m12 l12">
                <h5 class="header">Esquema de asistencia</h5>
                <p class="header">Se deben completar correctamente la <strong>totalidad de faltas  para que un alumno se quede libre </strong> y la cantidad de <strong>llegadas tarde que equivalen a una falta.</strong></p>
                <div class="input-field col s12 m6 l6">
                    <input  name="maximoFaltas" id="maximoFaltas" type="number" class="validate">
                    <label for="maximoFaltas" data-error="Incorrecto" data-success="Correcto">Total de faltas</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <input  name="tardesFaltas" id="tardesFaltas" type="number" class="validate">
                    <label for="tardesFaltas" data-error="Incorrecto" data-success="Correcto">Cantidad de llegadas tarde que equivalen una falta</label>
                </div>
                <div class="input-field col s12 mar-top-soft">
                    <textarea name="observaciones" id="observaciones" class="materialize-textarea"></textarea>
                    <label for="observaciones">Observaciones</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align mar-top-soft">
                    <button class="btn-large waves-effect waves-light center-align mar-right" type="submit" name="crear" >Finalizar</button>
                    <button class="btn-large waves-effect waves-light center-align mar-right" type="submit" name="crearYNuevo" />Agregar otro establecimiento</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
