{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Institucion</h1>

    <table class="record_properties">
        <tbody>
             <tr>
                <th>Id Institucion</th>
                <td>{{ institucion.idInstitucion }}</td>
            </tr>
            <tr>
                <th>Nombreinstitucion</th>
                <td>{{ institucion.nombreInstitucion }}</td>
            </tr>
            <tr>
                <th>Direccioninstitucion</th>
                <td>{{ institucion.direccionInstitucion }}</td>
            </tr>
            <tr>
                <th>Telefonoinstitucion</th>
                <td>{{ institucion.telefonoInstitucion }}</td>
            </tr>
            <tr>
                <th>Emailinstitucion</th>
                <td>{{ institucion.emailInstitucion }}</td>
            </tr>
            <tr>
                <th>Idinstitucion</th>
                <td>{{ institucion.idInstitucion }}</td>
            </tr>
        </tbody>
    </table>

 <ul class="record_actions">
    <li>
        <a href="{{ path('institucion') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('institucion_edit', { 'id': institucion.idInstitucion }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('institucion_delete', { 'id': institucion.idInstitucion }) }}">Borrar</a></li>
</ul>
</ul>
{% endblock %}
