{% extends '::base.html.twig' %}

{% block body -%}

  {{ include('BoletinesBundle::Institucion/fixed_nav.html.twig') }}
  {{ include('BoletinesBundle::Institucion/main_nav.html.twig', {'nav_selected': 'instituciones'}) }}

  <!-- startMain content-->
<div class="container">
  <div class="row mar-top-soft">

    <div class="col s12 m8 l8">
    <h3 class="header">{{ institucion.nombre }}</h3>
    </div>
    <div class="col s12 m4 l4 center-align">
    {# <img src="{{ asset('bundles/boletines/images/belgranods.jpg') }}" alt="as" class="inst-thumb mar-top-soft"> #}
    {% if institucion.logo %}
        <img src="{{ asset('') }}{{ institucion.webPath }}" alt="as" class="inst-thumb mar-top-soft">
    {% endif %}
    </div><!--  End Tables Section  -->

</div>
<div class="divider mar-top-soft"></div>
      <div class="row mar-top-soft">
        <div class="col s12 m6 l6">
        <h5 class="header">Establecimientos: <span class="span-s"> 1</span></h5>
        </div>
        <div class="col s12 m6 l6">
        <h5 class="header">Cantidad de estudiantes: <span class="span-s"> {{ random(500) }}</span></h5>
        <h5 class="header">Directivos: <span class="span-s">{{ institucion.usuarios|length }}</span></h5>
        <h5 class="header">Profesores: <span class="span-s"> {{ random(50) }}</span></h5>
        <h5 class="header">Bedeles: <span class="span-s"> {{ random(20) }}</span></h5>

        </div>
    </div>
</div>
 <!-- end Main content-->

   {{ include('footer.html.twig') }}


{% endblock %}
