{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('institucion') }}" >Instituciones</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Nueva Institucion</a></li>
{% endblock %}

{% block page %}
  <div class="row mar-top-soft">

    <div class="col s12 m8 l8">
    <h3 class="header">{{ institucion.nombre }}</h3>
    </div>
    <div class="col s12 m4 l4 center-align">
      {% set assetPath = school_blank %}
      {% if institucion.logo %}
        {% if file_exists(institucion.webPath) %}
          {% set assetPath = institucion.webPath %}
        {% endif %}
      {% endif %}
      <img src="{{ asset(assetPath) }}" alt="as" class="inst-thumb mar-top-soft">
    </div><!--  End Tables Section  -->

</div>
<div class="divider mar-top-soft"></div>
      <div class="row mar-top-soft">
        <div class="col s12 m6 l6">
        <h5 class="header">Establecimientos: <span class="span-s"> {{ establecimientosActivos|length }}</span></h5>
        <h5 class="header">Directivos: <span class="span-s"> {{  cantidadDirectivos }}</span></h5>
        <h5 class="header">Profesores: <span class="span-s"> {{ cantidadDocentes }}</span></h5>
        </div>
        <div class="col s12 m6 l6">
        <h5 class="header">Estudiantes: <span class="span-s"> {{ cantidadAlumnos }}
             <!--   <a data-position="top" data-delay="25" data-tooltip="Descargar listado"
                   class="tooltipped  btn-small btn waves-effect waves-light mar-fix-1 "><i class="icon-linear-download2"></i></a> -->
            </span> </h5>

        <h5 class="header">Bedeles: <span class="span-s"> {{ cantidadBedeles }}</span></h5>

        </div>
    </div>



      <!--  Tables Section-->


      <div id="striped" >
        <div class="row">
          <div class="col s10 m10 l10 mar-top-soft">
            <h4 class="header ">Establecimientos de la institución</h4>

          </div>

          <div class="col s2 m2 l2 mar-top-soft">
            <a href="{{ path('establecimiento_new_with_institucion', {'institucionId': institucion.id} ) }}" data-position="left" data-delay="25" data-tooltip="Añadir nuevo establecimiento" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-plus"></i></a>
          </div>


        </div>

          <div class="row">
            <div class="col s12">

              <table class="striped">
                <thead>
                  <tr>
                      <th data-field="id">Nombre</th>

                      <th data-field="price">Fecha inauguracion</th>
                      <th data-field="price">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for establecimiento in establecimientosActivos %}
                  <tr>
                    <td><a href="{{ path('establecimiento_show', {'id': establecimiento.id}) }}" class="casual">{{ establecimiento.nombre }}</a></td>

                    <td>{{ establecimiento.fechaInauguracion |  date('d/m/Y') }}</td>
                    <td>
                      <a href="{{ path('establecimiento_edit', {'id': establecimiento.id}) }}" data-position="top" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light"><i class="icon-linear-pencil"></i></a>

                      <a href="{{ path('establecimiento_delete', {'id': establecimiento.id}) }}" data-position="top" data-delay="25" data-tooltip="Eliminar establecimiento" class="tooltipped  btn-small btn waves-effect waves-light"><i class="icon-linear-trash2"></i></a>
                    </td>

                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
      </div><!--  End Tables Section  -->
{% endblock %}
