{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Convivencia edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('convivencia_edit', {'id':convivencia.idConvivencia }) }}" method="post">
        <input type="text" value="{{ convivencia.idConvivencia }}" hidden="hidden" name="idConvivencia"><br/>
        <input type="text" value="{{ convivencia.comentarioDocente }}" placeholder="Ingrese Comentario" name="comentarioDocente"><br/>
        <input type="text" value="{{ convivencia.descargoAlumno }}" placeholder="Ingrese Descargo" name="descargoAlumno"><br/>
        <input type="text" value="{{ convivencia.fechaSuceso|date('d-m-Y') }}" placeholder="Fecha suceso" name="fechaSuceso"><br/>
        {% if convivencia.alumno != null %}
            <p>Alumno</p>
            <p>{{ convivencia.alumno.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idAlumno">
            {% for alumno in entitiesRelacionadas %}

                <option value="{{alumno.idAlumno}}">{{alumno.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('convivencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
