{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('convivencia') }}" class="b-focus">Convivencia</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    {% if app.user.rol == 'ROLE_DOCENTE' %}
        <li><a href="#" >Editar convivencia</a></li>
    {% elseif  app.user.rol == 'ROLE_ALUMNO'%}
        <li><a href="#" >Ingresar descargo</a></li>>
    {% endif %}


{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m7 l7">
            {% if app.user.rol == 'ROLE_DOCENTE' %}
                <h3 class="header">Editar convivencia</h3>
            {% elseif  app.user.rol == 'ROLE_ALUMNO'%}
                <h3 class="header">Ingresar descargo</h3>
            {% endif %}
        </div>
    </div>

    <form action="{{ path('convivencia_edit', {'id':convivencia.id }) }}" method="post">
        <input type="text" value="{{ convivencia.id }}" hidden="hidden" name="idConvivencia">
        {% if app.user.rol == 'ROLE_DOCENTE' %}
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <input name="comentario" id="nombre_inst" type="text" class="validate" value="{{ convivencia.comentario }}"/>
                <label for="comentario" class="">Comentario</label>
            </div>
            <div class=" col s12 m6 l6">
                <i class="icon-linear-calendar-insert"></i>
                <label for="fechaSuceso" class="">Fecha</label>
                <input type="date" class="datepicker" name="fechaSuceso" id="fechaSuceso" value="{{convivencia.fechaSuceso|date('d/m/Y')}}">
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <input name="valor" type="checkbox" id="valor" class="filled-in" {% if convivencia.valor %} checked{% endif %}/>
                <label for="valor"> <i class="icon-linear-wink news-i-b conv-i"></i></label>
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h6 class="header">{{ convivencia.alumno }}</h6>
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h6 class="header">{{ convivencia.descargo }}</h6>
            </div>
        {% elseif  app.user.rol == 'ROLE_ALUMNO'%}
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h6 class="header">{{ convivencia.usuarioCarga }}</h6>
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h6 class="header">{{ convivencia.comentario }}</h6>
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h6 class="header">{{ convivencia.fechaSuceso|date('d/m/Y') }}</h6>
            </div>
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <input name="descargo" id="nombre_inst" type="text" class="validate" value="{{ convivencia.descargo }}"/>
                <label for="descargo" class="">Descargo</label>
            </div>
        {% endif %}
        <div class="col s12 center-align mar-top-soft">
            <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">
                Guardar cambios</button>
        </div>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('convivencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
