{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Convivencia</a></li>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m7 l7">
        {% if (app.user.rol == 'ROLE_PADRE') or (app.user.rol == 'ROLE_ALUMNO') %}
            <h3 class="header">Planilla de convivencia</h3>
        {% elseif  app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL'%}
            <h3 class="header">Intervenciones</h3>
        {% else %}
            <h3 class="header">CONVIVENCIA</h3>
        {% endif %}
        </div>
        {% if app.user.rol == 'ROLE_PADRE' %}
            <div class="col s12 m5 l5">
                {{ macros.show_alumno_activo(app.session.get('alumnoActivo')) }}
            </div>
        {% elseif app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL'%}
            <div class="col s2 m2 l2">
                <a href="{{ path('convivencia_new') }}" data-position="left" data-delay="25" data-tooltip="Nueva convivencia" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-plus"></i></a>
            </div>
        {% endif %}

    </div>
    <div class="row panel-mini panel-assigment">
        <form action="{{ path('convivencia_filtrar') }}" method="post">
        <div class=" col s12 m6 l6">
                <i class="icon-linear-calendar-insert"></i>
                <label for="fechaDesde" class="">Fecha Desde</label>
                <input type="date" class="datepicker" name="fechaDesde" id="fechaDesde" {% if fechaDesde is defined %}value="{{ fechaDesde|date('d/m/Y') }}" {% endif %} >
        </div>
        <div class=" col s12 m6 l6">
            <i class="icon-linear-calendar-insert"></i>
            <label for="fechaHasta" class="">Fecha Hasta</label>
            <input type="date" class="datepicker" name="fechaHasta" id="fechaHasta" {% if fechaHasta is defined %}value="{{ fechaHasta|date('d/m/Y') }}" {% endif %} >
        </div>
        <div class="col s3 m3 l3">
            <div>
                <p>
                     <input name="convivencia" type="radio" id="positiva" value="1" class="convivencia" {% if convivencia is defined and convivencia == 1 %}checked {% endif %} />
                    <label for="positiva"><i class="icon-linear-wink news-i-g conv-i"></i></label>
                </p>
            </div>
        </div>
        <div class="col s3 m3 l3">
            <div>
                <p>
                    <input name="convivencia" type="radio" id="negativa" value="0" class="convivencia" {% if convivencia is defined and convivencia == 0 %}checked {% endif %} />
                    <label for="negativa"><i class="icon-linear-mad news-i-b conv-i"></i></label>
                </p>
            </div>
        </div>
        <div class="col s3 m3 l3">
            <div>
                <p>
                    <input name="convivencia" type="radio" id="convivenciaIndistin" value="" class="convivencia" {% if convivencia is not defined or (convivencia is defined and convivencia == "") %}checked {% endif %}/>
                    <label for="convivenciaIndistin">Indistinto</label>
                </p>
            </div>
        </div>

        <div class="col s12 center-align mar-top-soft">
            <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">
                Filtrar</button>
        </div>
        </form>
    </div>

    <div class="row">


            <div class="col s12 m12 l12 mar-bot-top"> <!-- start table 2-->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table class="striped responsive-table">
                            <thead>
                            <tr>
                                <th data-field="">Convivencia</th>
                                <th data-field="">Comentarios</th>
                                <th data-field="">Fecha</th>
                                {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                    <th data-field="">Alumno</th>
                                    <th data-field="">Estado</th>
                                {% endif %}
                                <th data-field="">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for convivencia in entities %}
                                <tr>
                                    <td>
                                        {% if(convivencia.valor) %}
                                            <i class="icon-linear-wink news-i-g conv-i"></i>
                                        {% else %}
                                            <i class="icon-linear-mad news-i-b conv-i"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ convivencia.comentario }}
                                    </td>
                                    <td>
                                        {{ convivencia.fechaSuceso|date('d/m/Y') }}
                                    </td>
                                    {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                        <td>
                                            <a href="{{ path('alumno_show', { 'id': convivencia.alumno.id }) }}">{{ convivencia.alumno }}</a>
                                        </td>
                                        <td>
                                            {% if convivencia.validado %}
                                               VALIDADO
                                            {% else %}
                                                PENDIENTE DE VALIDACION
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('convivencia_show', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Detalle" class="tooltipped  btn-small btn waves-effect waves-light">
                                            <i class="icon-linear-eye"></i>
                                        </a>
                                        {% if app.user.rol == 'ROLE_ALUMNO' and not convivencia.valor %}
                                            <a href="{{ path('convivencia_edit', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Descargo" class="tooltipped btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-pencil"></i>
                                            </a>
                                        {% endif %}

                                        {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                            <a href="{{ path('convivencia_edit', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-pencil"></i>
                                            </a>
                                        <a href="{{ path('convivencia_delete', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Eliminar" class="tooltipped  btn-small btn waves-effect waves-light">
                                            <i class="icon-linear-trash2"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div><!-- end table 2-->
        </div><!-- end student 1-->
    </div>
{% endblock %}
