{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Convivencia</a></li>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m7 l7">
        {% if (app.user.rol == 'ROLE_PADRE') or (app.user.rol == 'ROLE_ALUMNO') %}
            <h3 class="header">Planilla de convivencia</h3>
        {% elseif  app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL'%}
            <h3 class="header">Intervenciones</h3>
        {% else %}
            <h3 class="header">CONVIVENCIA</h3>
        {% endif %}
        </div>
        {% if app.user.rol == 'ROLE_PADRE' %}
            <div class="col s12 m5 l5">
                {{ macros.show_alumno_activo(app.session.get('alumnoActivo')) }}
            </div>
        {% elseif app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL'%}
            <div class="col s2 m2 l2">
                <a href="{{ path('convivencia_new') }}" data-position="left" data-delay="25" data-tooltip="Nueva convivencia" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-plus"></i></a>
            </div>
        {% endif %}

    </div>


    <div class="row">


            <div class="col s12 m12 l12 mar-bot-top"> <!-- start table 2-->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table class="striped responsive-table">
                            <thead>
                            <tr>
                                <th data-field="">Convivencia</th>
                                <th data-field="">Comentarios</th>
                                <th data-field="">Fecha</th>
                                {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                    <th data-field="">Alumno</th>
                                    <th data-field="">Estado</th>
                                {% endif %}
                                <th data-field="">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for convivencia in entities %}
                                <tr>
                                    <td>
                                        {% if(convivencia.valor) %}
                                            <i class="icon-linear-wink news-i-g conv-i"></i>
                                        {% else %}
                                            <i class="icon-linear-mad news-i-b conv-i"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ convivencia.comentario }}
                                    </td>
                                    <td>
                                        {{ convivencia.fechaSuceso|date('d/m/Y') }}
                                    </td>
                                    {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                        <td>
                                            <a href="{{ path('alumno_show', { 'id': convivencia.alumno.id }) }}">{{ convivencia.alumno }}</a>
                                        </td>
                                        <td>
                                            {% if convivencia.validado %}
                                               VALIDADO
                                            {% else %}
                                                PENDIENTE DE VALIDACION
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('convivencia_show', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Detalle" class="tooltipped  btn-small btn waves-effect waves-light">
                                            <i class="icon-linear-eye"></i>
                                        </a>
                                        {% if app.user.rol == 'ROLE_ALUMNO' and not convivencia.valor %}
                                            <a href="{{ path('convivencia_edit', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Descargo" class="tooltipped btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-pencil"></i>
                                            </a>
                                        {% endif %}

                                        {% if app.user.rol == 'ROLE_DOCENTE' or app.user.rol == 'ROLE_BEDEL' %}
                                            <a href="{{ path('convivencia_edit', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-pencil"></i>
                                            </a>
                                        <a href="{{ path('convivencia_delete', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Eliminar" class="tooltipped  btn-small btn waves-effect waves-light">
                                            <i class="icon-linear-trash2"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div><!-- end table 2-->
        </div><!-- end student 1-->
    </div>
{% endblock %}
