{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}Convivencia{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m7 l7">
        {% if (app.user.rol == 'ROLE_PADRE') or (app.user.rol == 'ROLE_ALUMNO') %}
            <h3 class="header">Planilla de convivencia</h3>
        {% elseif  app.user.rol == 'ROLE_DOCENTE' %}
            <h3 class="header">Intervenciones</h3>
        {% else %}
            <h3 class="header">CONVIVENCIA</h3>
        {% endif %}
        </div>
        {% if app.user.rol == 'ROLE_PADRE' %}
            <div class="col s12 m5 l5">
                <h5 class="right-ch"><img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-main circle1"> {{ app.session.get('alumnoActivo') }}</h5>
            </div>
        {% endif %}

    </div>


    <div class="row">


            <div class="col s12 m12 l12 mar-bot-top"> <!-- start table 2-->
                <div class="row">
                    <div class="col s12 m12 l12">
                        <table class="striped responsive-table">
                            <thead>
                            <tr>
                                <th data-field="">Convivencia</th>
                                <th data-field="">Comentarios</th>
                                <th data-field="">Fecha</th>
                                {% if app.user.rol == 'ROLE_DOCENTE' %}
                                    <th data-field="">Alumno</th>
                                    <th data-field="">Acciones</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for convivencia in entities %}
                                <tr>
                                    <td>
                                        {% if(convivencia.valor) %}
                                            <i class="icon-linear-wink news-i-g conv-i"></i>
                                        {% else %}
                                            <i class="icon-linear-mad news-i-b conv-i"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ convivencia.comentario }}
                                    </td>
                                    <td>
                                        {{ convivencia.fechaSuceso|date('d/m/Y') }}
                                    </td>
                                    {% if app.user.rol == 'ROLE_DOCENTE' %}
                                        <td>
                                            <a href="{{ path('alumno_show', { 'id': convivencia.alumno.id }) }}">{{ convivencia.alumno }}</a>
                                        </td>
                                        <td>
                                            <a href="{{ path('convivencia_show', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Detalle" class="tooltipped  btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-eye"></i>
                                            </a>
                                            <a href="{{ path('convivencia_edit', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Editar" class="tooltipped btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-pencil"></i>
                                            </a>
                                            <a href="{{ path('convivencia_delete', { 'id': convivencia.id }) }}" data-position="top" data-delay="25" data-tooltip="Eliminar" class="tooltipped  btn-small btn waves-effect waves-light">
                                                <i class="icon-linear-trash2"></i>
                                            </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                </div>
            </div><!-- end table 2-->
        </div><!-- end student 1-->
    </div>
{% endblock %}