{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}Asistencia{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Asistencia del día {{ fecha|date('d/m/Y') }}</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12"> <!-- start materia-->
            <div class="panel-mini panel-assigment">
                <div class="row">
                    <div class="col s6">
                        <h5 class="panel-title">{{ materia.__toString() }} </h5>
                        <h4>
                            {% for grupo in materia.gruposAlumnos %}
                                {{ grupo ~ ' ' }}
                            {% endfor %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <form  action="{{ path('asistencia_edit', { 'id': materia.id }) }}" method="post">
            <input type="hidden" value="{{ fecha|date('d/m/Y') }}" name="fecha"/>
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="id">Nombre y apellido</th>
                    <th data-field="price">Valor actual</th>
                    <th data-field="price">Nuevo valor</th>
                </tr>
                </thead>

                <tbody>
                {% for asistencia in asistencias %}
                    <tr>
                        <td>{{ asistencia.alumno }}</td>
                        <td>
                            {% if asistencia.valor == 'P' %}
                                <i class="icon-linear-checkmark-circle"></i>
                            {% elseif asistencia.valor == 'A'  %}
                                <i class="icon-linear-cross-circle"></i>
                            {% else %}
                                <i class="icon-linear-percent-circle"></i>
                            {% endif %}
                        </td>
                        <td>
                            <input type="hidden" id="{{ asistencia.id }}" name="{{ asistencia.id }}"/>
                            <a id="{{ asistencia.id }}A" href="javascript:ausente($,{{ asistencia.id }})" data-position="top" data-delay="25" data-tooltip="Ausente" class="btn-small btn "><i class="icon-linear-cross-circle"></i></a>
                            <a id="{{ asistencia.id }}T" href="javascript:tarde($,{{ asistencia.id }})" data-position="top" data-delay="25" data-tooltip="Tarde" class="btn-small btn"><i class="icon-linear-percent-circle"></i></a>
                            <a id="{{ asistencia.id }}P" href="javascript:presente($,{{ asistencia.id }})" data-position="top" data-delay="25" data-tooltip="Presente" class="btn-small btn "><i class="icon-linear-checkmark-circle"></i></a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="col s12 center-align mar-top-soft">
                <a href="#" onclick="$(this).closest('form').submit()" class="btn-large waves-effect waves-light center-align mar-right">Guardar</a>
                <a href="{{ path('asistencia') }}" class="btn-large waves-effect waves-light center-align mar-right">Finalizar</a>
            </div>
        </form>

    </div>
    <script>
        function ausente($, id){
            $('#' + id).val('A');
            $('#' + id + 'P').hide();
            $('#' + id + 'T').hide();
        }
        function tarde($, id){
            $('#' + id).val('T');
            $('#' + id + 'P').hide();
            $('#' + id + 'A').hide();
        }
        function presente($, id){
            $('#' + id).val('P');
            $('#' + id + 'A').hide();
            $('#' + id + 'T').hide();
        }

    </script>
{% endblock %}