{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Asistencia edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('asistencia_edit', {'id':asistencia.idAsistencia }) }}" method="post">
        <input type="text" value="{{ asistencia.idAsistencia }}" hidden="hidden" name="idAsistencia"><br/>
        <input type="text" value="{{ asistencia.nombreAsistencia }}" placeholder="nombre" name="nombreAsistencia"><br/>
        {% if asistencia.entityRelacionada != null %}
            <p>EntityRelacionada Asociado</p>
            <p>{{ asistencia.entityRelacionada.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idEntityRelacionada">
            {% for entityRelacionada in entitiesRelacionadas %}

                <option value="{{entityRelacionada.idEntityRelacionada}}">{{entityRelacionada.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('asistencia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
