{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Asistencia</a></li>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Materias asignadas</h4>
        </div>
    </div>

    <div class="row mar-top-soft">

        {% for entity in entities %}
            <div class="col s12 m12 l12"> <!-- start materia-->
                <div class="panel-mini panel-assigment">
                    <div class="row">
                        <div class="col s9 m6 l6">
                            <a href="{{ path('materia_show', {'id':entity.id }) }}"><h5 class="panel-title truncate">{{ entity.__toString() }} </h5></a>
                            <h4 class="truncate">
                                {% for grupo in entity.gruposAlumnos %}
                                    {{ grupo ~ ' ' }}
                                {% endfor %}</h4>
                        </div>
                        <div class="col s3 m2 l2">
                            <a href="{{ path('asistencia_tomar', { 'id': entity.id }) }}" data-position="top" data-delay="25" data-tooltip="Tomar lista" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg">
                                <i class="icon-linear-plus"></i></a>
                        </div>
                        <div class="col s12 m4 l4 new-btn-marg">
                            <form action="{{ path('asistencia_edit', { 'id': entity.id }) }}" method="get">
                                <div class=" col s10 l10">
                                    <i class="icon-linear-calendar-insert"></i>
                                    <label for="fecha" class="">Fecha</label>
                                    <input type="date" class="datepicker" name="fecha" id="fecha">
                                </div>
                                <div class=" col s2 l2">
                                <a href="#" onclick="$(this).closest('form').submit()"
                                   data-position="top" data-delay="25" data-tooltip="Editar Asistencia"
                                   class="tooltipped  btn-small btn waves-effect waves-light">
                                    <i class="icon-linear-pencil"></i>
                                </a>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div><!-- end materia-->

        {% endfor %}
    </div>


{% endblock %}
