{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Asistencia</a></li>
{% endblock %}
{% block page %}
<div class="row">
    <div class="col s12 m7 l7">
        <h3 class="header">Planilla de asistencias</h3>
        <h6 class="">Las llegadas tardes que suman una falta completa ya estan contempladas en la totalidad de las faltas.</h6>
    </div>
    {% if app.user.rol == 'ROLE_PADRE' %}
        <div class="col s12 m5 l5">
            {{ macros.show_alumno_activo(app.session.get('alumnoActivo')) }}
        </div>
    {% endif %}

</div>

{% for type, flashMessages in app.session.flashbag.all() %}
  {% for flashMessage in flashMessages %}
    <div class="{{ type  }}-msg center-align fadeInDown animated"><i class="icon-linear-check msg-i"></i>{{ flashMessage }}</div>
  {% endfor %}
{% endfor %}


<div class="row mar-top-soft">

    <div class="col s12 ">
        <div class="col s12 m12 l12"> <!-- startWidget 2-->
            <div class="row">
                <div class="col s12">
                    <div class="">

                        <div class="panel-body2 center-align">
                            <div class="col s12 m12 l12"> <div class="row">
                                    <div class="col s12 m6 l6 border-r">

                                        <h1 class="asist-m">{{ faltas }}<span class="asist-widget-span-in"> Faltas </span></h1>
                                        <h6>De un total de  {{ app.session.get('establecimientoActivo').maximoFaltas }}</h6>
                                    </div>
                                    <div class="col s12 m6 l6">

                                        <h1 class="asist-m">{{ tardes }}<span class="asist-widget-span-in"> Llegadas tarde</span></h1>
                                        <h6 class=""> {{ app.session.get('establecimientoActivo').tardesFaltas }} tardes equivalen a 1 falta</h6>
                                    </div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- endWidget 2-->
<br><br>
        <div class="col s12 m12 l12 panel-mini panel-assigment " style="margin-top: 20px; ">
            <form action="{{ path('asistencia_filtrar') }}" method="post">
                <div class=" col s12 m6 l6">
                    <i class="icon-linear-calendar-insert"></i>
                    <label for="fechaDesde" class="">Fecha Desde</label>
                    <input type="date" class="datepicker" name="fechaDesde" id="fechaDesde" {% if fechaDesde is defined %}value="{{ fechaDesde|date('d/m/Y') }}" {% endif %} >
                </div>
                <div class=" col s12 m6 l6">
                    <i class="icon-linear-calendar-insert"></i>
                    <label for="fechaHasta" class="">Fecha Hasta</label>
                    <input type="date" class="datepicker" name="fechaHasta" id="fechaHasta" {% if fechaHasta is defined %}value="{{ fechaHasta|date('d/m/Y') }}" {% endif %} >
                </div>
                <div class="col s3 m3 l3">
                    <div>
                        <p>
                            <input name="asistencia" type="radio" id="presente" value="P" class="convivencia" {% if asistencia is defined and asistencia == 'P' %}checked {% endif %} />
                            <label for="presente"><i class="icon-linear-checkmark-circle"></i></label>
                        </p>
                    </div>
                </div>
                <div class="col s3 m3 l3">
                    <div>
                        <p>
                            <input name="asistencia" type="radio" id="tarde" value="T" class="convivencia" {% if asistencia is defined and asistencia == 'T' %}checked {% endif %} />
                            <label for="tarde"><i class="icon-linear-percent-circle"></i></label>
                        </p>
                    </div>
                </div>
                <div class="col s3 m3 l3">
                    <div>
                        <p>
                            <input name="asistencia" type="radio" id="ausente" value="A" class="convivencia" {% if asistencia is defined and asistencia == 'A' %}checked {% endif %} />
                            <label for="ausente"><i class="icon-linear-cross-circle"></i></label>
                        </p>
                    </div>
                </div>
                <div class="col s3 m3 l3">
                    <div>
                        <p>
                            <input name="asistencia" type="radio" id="convivenciaIndistin" value="" class="convivencia" {% if asistencia is not defined or (asistencia is defined and asistencia == "") %}checked {% endif %}/>
                            <label for="convivenciaIndistin">Indistinto</label>
                        </p>
                    </div>
                </div>

                <div class="col s12 center-align mar-top-soft">
                    <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">
                        Filtrar</button>
                </div>
            </form>
        </div>


        <div class="col s12 m12 l12 mar-bot-top"> <!-- start table 2-->
            <div class="row">
                <div class="col s12">
                    <table class="striped">
                        <thead>
                        <tr>
                            <th data-field="">Fecha</th>
                            <th data-field="">Asistencia</th>
                            <th data-field="">En horario</th>
                        {% if app.user.rol == 'ROLE_PADRE' %}
                            <th data-field="">Acciones</th>
                        {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for asistencia in entities %}
                            <tr>
                                <td>{{ asistencia.asistencia.fecha|date('d/m/Y') }}</td>
                                <td>
                                    {% if(asistencia.valor == 'A') %}
                                        <i class="icon-linear-cross2 cross-r"></i>
                                    {% else %}
                                        <i class="icon-linear-check check-g"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if(asistencia.valor == 'P') %}
                                        <i class="icon-linear-alarm-check check-g"></i>
                                    {% else %}
                                        <i class="icon-linear-alarm-error cross-r"></i>
                                    {% endif %}
                                </td>
                            {% if app.user.rol == 'ROLE_PADRE' %}
                                <td>
                                    {% if(asistencia.valor != 'P') %}
                                    <form id="justificacionForm_{{asistencia.asistencia.id}}" action="{{ path('justificacion_upload') }}" method="post" enctype="multipart/form-data">
                                      <label for="justificacionFile_{{asistencia.asistencia.id}}" data-position="top" data-delay="25" data-tooltip="Cargar justificación" class="tooltipped btn-small btn waves-effect waves-light">
                                        <i class="icon-linear-paperclip"></i>
                                      </label>
                                      <input id="justificacionFile_{{asistencia.asistencia.id}}" name="justificacionFile" data-id="{{asistencia.asistencia.id}}" class="inputJustificacion" type="file" style="display:none" />
                                      <input type="text" name="asistenciaId" value="{{asistencia.asistencia.id}}" style="display:none" />
                                    </form>
                                    {% endif %}
                                </td>
                            {% endif %}
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
        </div><!-- end table 2-->
    </div><!-- end student 1-->
</div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/boletines/js/fileFunctions.js') }}"></script>
{% endblock %}
