{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Asistencia list </h1>
{% if mensaje is defined %}
    {{ mensaje }}
{% endif %}

    <table class="records_list">
        <thead>
            <tr>
                <th>Id Asistencia</th>
                <th>Nombre asistencia</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for asistencia in entities %}
            <tr>
                <td>{{ asistencia.id }}</td>
                <td><a href="{{ path('asistencia_show', { 'id': asistencia.id }) }}">{{ asistencia.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('asistencia_show', { 'id': asistencia.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('asistencia_edit', { 'id': asistencia.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('asistencia_delete', { 'id': asistencia.id }) }}">Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('asistencia_new') }}">
                Crear Nueva Asistencia
            </a>
        </li>
    </ul>
    {% endblock %}
