{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Asistencia</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Asistencia</th>
            <td>{{ asistencia.idAsistencia }}</td>
        </tr>
        <tr>
            <th>Asistencia</th>
            <td>{{ asistencia.fechaAsistencia|date('d-m-Y') }}</td>
        </tr>
        {% if asistencia.materia != null %}
        <tr>
            <th>Materia Asociado</th>
            <td>{{ asistencia.materia.__toString() }}</td>
        </tr>
        {% endif %}
        {% if asistencia.usuarioCargador != null %}
            <tr>
                <th>Cargado por</th>
                <td>{{ asistencia.usuarioCargador.__toString() }}</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('asistencia') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('asistencia_edit', { 'id': asistencia.idAsistencia }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('asistencia_delete', { 'id': asistencia.idAsistencia }) }}">Borrar</a></li>
</ul>
{% endblock %}
