{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('asistencia') }}" class="">Asistencia</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Últimos días</a></li>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Ultimos días de asistencia</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12"> <!-- start materia-->
            <div class="panel-mini panel-assigment">
                <div class="row">
                    <div class="col s6">
                        <h5 class="panel-title">
                            <a href="{{ path('materia_show', {'id':entity.id }) }}">
                                {{ entity.__toString() }}
                            </a> </h5>
                        <h4>
                            {% for grupo in materia.gruposAlumnos %}
                                {{ grupo ~ ' ' }}
                            {% endfor %}
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <form  action="{{ path('asistencia_tomar', { 'id': materia.id }) }}" method="post">
            <table class="striped">
                <thead>
                <tr>
                    <th data-field="id">Nombre y apellido</th>
                    {% for asistencia in asistencias  %}
                    <th data-field="price">{{  asistencia.fecha|date('d/m/Y')}}</th>
                    {% endfor %}
                </tr>
                </thead>

                <tbody>
                {% for wrapper in asistenciasMostrables %}
                    <tr>
                        <td>{{ wrapper.alumno }}</td>
                        {% for asistencia in wrapper.asistencias %}
                        <td>
                            {% if asistencia.valor == 'P' %}
                            <i class="icon-linear-checkmark-circle"></i>
                            {% elseif asistencia.valor == 'A'  %}
                            <i class="icon-linear-cross-circle"></i>
                            {% else %}
                            <i class="icon-linear-percent-circle"></i>
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

    </div>

{% endblock %}