{% macro show_notificacion_usuario(notificacion) %}
<li>
  <a href="{% if notificacion.notificacion.url is not null %}{{ path('notificacion_show', {'id': notificacion.id}) }}{% else %}#{% endif %}" class="t-s">
    {{ notificacion.notificacion.titulo }}<br><span class="ts-s">{{ notificacion.notificacion.fechaEnvio|ago }}</span>
  </a>
</li>
{% endmacro %}

{% macro show_alumno_activo(alumno) %}
  {% set assetPath = user_blank %}
  {% if alumno.avatar %}
    {% if file_exists(alumno.avatar.webPath) %}
      {% set assetPath = alumno.avatar.webPath %}
    {% endif %}
  {% endif %}
  <h5 class="right-ch">
    <img src="{{ asset(assetPath) }}" alt="" class="avatar-main circle1">
    {{ alumno }}
  </h5>
{% endmacro %}

{% macro show_img_menu_bar(path) %}
  {% set assetPath = user_blank %}
  {% if path %}
    {% if file_exists(path) %}
      {% set assetPath = path %}
    {% endif %}
  {% endif %}
  <li><img src="{{ asset(assetPath) }}" alt="" class="avatar-nav-top circle"></li>
{% endmacro %}

{% macro show_institucion_logo_nombre(institucion) %}
  <div class="col s12 sch-mb">
      <div class="panel-default">
          <div class="panel-body-school normalh center-align">
            {% set assetPath = school_blank %}
            {% if institucion.logo %}
              {% if file_exists(institucion.webPath) %}
                {% set assetPath = institucion.webPath %}
              {% endif %}
            {% endif %}
            <img src="{{ asset(assetPath) }}" alt="as" class="inst-thumb">
            <h6 class="school-style ">{{ institucion.nombre }}</h6>
            <div class="col s4">
            </div>
          </div>
      </div>
  </div>
{% endmacro %}

{% macro show_entidad_con_foto(entidad) %}
  {% set assetPath = user_blank %}
  {% if entidad.foto %}
    {% if file_exists(entidad.fotoWebPath) %}
      {% set assetPath = entidad.fotoWebPath %}
    {% endif %}
  {% endif %}
  {% set linkPath = '#' %}
  {% if get_class(entidad) == 'Alumno' %}
    {% set linkPath = path('alumno_show', {'id': entidad.id}) %}
  {% elseif get_class(entidad) == 'Docente' %}
    {% set linkPath = path('docente_show', {'id': entidad.id}) %}
  {% endif %}
  <a href="{{ linkPath}}" class="collection-a"><img src="{{ asset(assetPath) }}" alt="" class="circle avatar-table">
    <span class="title truncate table-img-mar">{{ entidad }}</span>
  </a>
{% endmacro %}

{% macro show_chip(usuario) %}
<div class="chip">
  {% set assetPath = user_blank %}
  {% if usuario.entidadAsociada and usuario.entidadAsociada.foto is defined %}
    {% if file_exists(usuario.entidadAsociada.fotoWebPath) %}
      {% set assetPath = usuario.entidadAsociada.fotoWebPath %}
    {% endif %}
  {% endif %}
  <img src="{{ asset(assetPath) }}" alt="">
  <input type="hidden" class="destinatarios" name="idUsuarioRecibe[]" value="{{ usuario.id}}">
  {{ usuario.getNombreCompleto }}
  <a class="chipclose noAgregar"><i class="icon-linear-cross"></i></a>
</div>
{% endmacro %}

{% macro show_foto_mensaje(usuario) %}
  {% set assetPath = user_blank %}
  {% if usuario.entidadAsociada and usuario.entidadAsociada.foto is defined %}
    {% if usuario.entidadAsociada.foto %}
      {% if file_exists(usuario.entidadAsociada.fotoWebPath) %}
        {% set assetPath = usuario.entidadAsociada.fotoWebPath %}
      {% endif %}
    {% endif %}
  {% endif %}
  <img src="{{ asset(assetPath) }}" alt="" class="avatar-mb circle mb-a-pad">
{% endmacro %}

{% macro show_item_entityFile(entityFile) %}
<li class="list-group-item">
  <span class="name">{{ entityFile.archivo.nombre }}</span>
  <span class="size">({{ entityFile.archivo.size }})</span>
  <a download="{{ entityFile.archivo.nombre }}" href="{{ asset('') }}{{ entityFile.archivo.webPath }}" data-position="top" data-delay="25" data-tooltip="Descargar" class="tooltipped  btn-small btn waves-effect waves-light"><i class="icon-linear-download2"></i></a>
  <input type="hidden" class="fileId" name="files[]" value="{{ entityFile.archivo.id }}"/>
</li>
{% endmacro %}

{% macro ficha_foto_entity(entity) %}
  {% set assetPath = user_blank %}
  {% if entity.foto %}
    {% if file_exists(entity.fotoWebPath) %}
      {% set assetPath = entity.fotoWebPath %}
    {% endif %}
  {% endif %}
  <img src="{{ asset(assetPath) }}" alt="" class="circle-child circle inst-thumb mar-top-soft">
{% endmacro %}

{% macro ficha_logo_institucion(entity) %}
  {% set assetPath = school_blank %}
  {% if entity.usuario.institucion is defined and entity.usuario.institucion.logo  %}
    {% if file_exists(entity.usuario.institucion.webPath) %}
      {% set assetPath = entity.usuario.institucion.webPath %}
    {% endif %}
  {% endif %}
  <img src="{{ asset(assetPath) }}" alt="" class="inst-thumb mar-top-soft">
{% endmacro %}
