{% import 'BoletinesBundle::_macros.html.twig' as macros %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Communitas - Comunidad educativa virtual ">
    <title>Communitas</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/boletines/images/favicon/apple-touch-icon-152x152.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/boletines/images/favicon/mstile-144x144.png') }}">
    <link rel="icon" href="{{ asset('bundles/boletines/images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">

    <!-- CSS -->
    <link href="{{ asset('bundles/boletines/css/prism.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/boletines/css/ghpages-materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ asset('bundles/boletines/css/animate.css') }}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic' rel='stylesheet' type='text/css'>
    {% block css_include %}{% endblock %}
    <!-- /CSS -->

</head>

<body >
    <header>
        {%  include 'BoletinesBundle:NavBars:menu_usuario.html.twig' with {breadcrumb: block('breadcrumb') }%}
        {{ include('BoletinesBundle:NavBars:navbar.html.twig') }}
    </header>
    <main> <!-- startMain content-->
        {% if app.user.rol == 'ROLE_ALUMNO' %}
            <div id="modal1" class="modal">
                <div class="modal-content center-align">
                    <h1 class="w-red"><i class="icon-linear-notification"></i></h1>
                    <p>Usted está a punto de generar una alerta.<br> El directivo será informado de esta situación y se contactará para analizarla.
                    </p>
                    <h5>¿Desea continuar?</h5>
                </div>
                <div class="modal-footer center-align">
                    <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
                    <a href="{{ path('antibullyng', { 'id': app.user.idEntidadAsociada }) }}" class=" modal-action modal-close waves-effect waves-green btn-flat">Continuar</a>
                </div>
            </div>
        {% endif %}

        {% block banner_mensaje %}{% endblock %}

        <div class="container fadeIn animated">
              {% block page %}{% endblock %}
           </div>
    </main>
    <!-- Footer -->
    <footer class="page-footer">
        <div class="footer-copyright">
            <div class="container">
                © 2015 Communitas - Comunidad Educativa Virtual
                <a class="grey-text text-lighten-4 right" href="under-construction.html">Ayuda</a>
            </div>
        </div>
    </footer>

    <!-- JS -->
    <!-- Core  -->
    <!--[if lt IE 9]>
    <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="{{ asset('bundles/boletines/js/jquery.min.js') }}"></script>
    <!--<![endif]-->
    <script src="{{ asset('bundles/boletines/js/jquery.timeago.min.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/prism.js') }}"></script>
    <script src="{{ asset('bundles/boletines/bin/materialize.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/init.js') }}"></script>
    <!-- /Core -->
    <script src="{{ asset('bundles/boletines/js/bootstrap3-typeahead.min.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/date_picker/picker.date.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/date_picker/picker.time.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/moment.min.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/fullcalendar.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/es.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/jquery.inputmask.bundle.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/toPdf.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/jquery-prevent-double-submit.js') }}"></script>

    <script>
      function clickElegirArchivo(){
          document.getElementById("elegirArchivo").click();
      };
      $(document).ready(function() {
          $('form').preventDoubleSubmission()
      });
    </script>

    <!-- /JS -->
   {% block javascript %}{% endblock %}

</body>
</html>
