{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje edit</h1>

    <form action="{{ path('mensaje_edit', {'id':mensaje.idMensaje }) }}" method="post">
        <input type="text" value="{{ mensaje.idMensaje }}" hidden="hidden" name="idMensaje"><br/>
        <input type="text" value="{{ mensaje.tituloMensaje }}" name="tituloMensaje"><br/>
        <input type="text" value="{{ mensaje.textoMensaje }}" name="textoMensaje"><br/>
        {% if mensaje.usuarioRecibe != null %}
            <p>Usuario Recibe</p>
            <p>{{ mensaje.usuarioRecibe.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idUsuarioRecibe">
            {% for usuario in entitiesRelacionadas %}

                <option value="{{usuario.idUsuario}}">{{usuario.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('mensaje') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
