{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Mensajes</a></li>
{% endblock %}
{% block page %}

<div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
          <h4 class="header">Nuevo mensaje</h4>
        </div>
  </div>

  <div class="row">
    <div class="col s12">

      <form action="{{ path('mensaje_new')}}" method="post" id="nuevoMensajeForm">

      <div class="input-field col s12">
            <input id="typeahead" type="text" class="validate" data-provide="typeahead">
            <label for="nombre_inst" class="">Para:</label>
      </div>

      <div id="destinatarios">
        {% if destinatarios is defined %}
        {% for usuario in destinatarios %}
          {{ macros.show_chip(usuario) }}
        {% endfor %}
        {% endif %}
      </div>

      <div class="input-field col s12">
            <input id="tituloMensaje" type="text" class="validate" name="tituloMensaje"{% if mensajeBorrador is defined %}value="{{ mensajeBorrador.titulo }}"{% endif %}>
            <label for="tituloMensaje" class="">Asunto:</label>
      </div>

      <div class="input-field col s12">
        <textarea id="textoMensaje" class="materialize-textarea" length="500" name="textoMensaje">{% if mensajeBorrador is defined %}{{ mensajeBorrador.texto }}{% endif %}</textarea>
        <label for="textoMensaje">Mensaje:</label>
      </div>

        {#<div class="col s12">

              <div class="file-field input-field">
                <div class="btn">
                  <span>Adjuntar archivos</span>
                  <input type="file" multiple>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text" placeholder="Seleccione uno o más archivos">
                </div>
              </div>

        </div>#}

      <div class="col s12 center-align mar-top-soft">
          <button type="submit" class="btn-large waves-effect waves-light center-align mar-right disabled" id="newMensajeSubmit" disabled>enviar</button>
          <a onclick="saveBorrador('{{ path('mensaje_save_borrador') }}');" data-position="top" data-delay="25" data-tooltip="Guardar en borradores" class="tooltipped  btn-small btn waves-effect waves-light"><i class="icon-linear-floppy-disk"></i></a>
          {% if mensajeBorrador is defined %}
            <input type="hidden" name="idMensajeBorrador" value="{{ mensajeBorrador.id }}">
          {% endif %}
      </div>

      </form>


      </div>
    </div>

{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/boletines/js/autocompletar.js') }}"></script>

  <script>
    function saveBorrador(path) {
      var form = document.getElementById("nuevoMensajeForm");
      form.setAttribute("action", path);
      form.submit();
    };

    $(".noAgregar").click(function(e){
      e.preventDefault();
      $(this).parent().remove();
      if ($('#destinatarios div').length < 1) {
        $('#newMensajeSubmit').addClass("disabled");
        $('#newMensajeSubmit').prop("disabled", true);
      }
    });

    if ($('#destinatarios div').length > 0) {
      $('#newMensajeSubmit').removeClass("disabled");
      $('#newMensajeSubmit').prop("disabled", false);
    }
  </script>
{% endblock %}
