{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Mensaje</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Mensaje</th>
            <td>{{ mensaje.idMensaje }}</td>
        </tr>
        <tr>
            <th>Titulo Mensaje</th>
            <td>{{ mensaje.tituloMensaje }}</td>
        </tr>
        <tr>
            <th>Mensaje</th>
            <td>{{ mensaje.textoMensaje }}</td>
        </tr>
        <tr>
            <th>Enviado el dia</th>
            <td>{{ mensaje.fechaEnvio|date('d-m-Y H:i') }}</td>
        </tr>
        {% if mensaje.usuarioEnvia != null %}
        <tr>
            <th>Enviado por</th>
            <td>{{ mensaje.usuarioEnvia.__toString() }}</td>
        </tr>
        {% endif %}
        {% if mensaje.usuarioRecibe != null %}
            <tr>
                <th>Enviado por</th>
                <td>{{ mensaje.usuarioRecibe.__toString() }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mensaje') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('mensaje_edit', { 'id': mensaje.idMensaje }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('mensaje_delete', { 'id': mensaje.idMensaje }) }}">Borrar</a></li>
</ul>
{% endblock %}
