<!DOCTYPE html>
<html lang="es">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Communitas - Comunidad educativa virtual ">
    <title>Communitas</title>
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/boletines/images/favicon/apple-touch-icon-152x152.png') }}">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="{{ asset('bundles/boletines/images/favicon/mstile-144x144.png') }}">
    <link rel="icon" href="{{ asset('bundles/boletines/images/favicon/favicon-32x32.png') }}" sizes="32x32">
    <!--  Android 5 Chrome Color-->
    <meta name="theme-color" content="#EE6E73">
    <!-- CSS-->
    <link href="{{ asset('bundles/boletines/css/prism.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/boletines/css/ghpages-materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="{{ asset('bundles/boletines/css/animate.css') }}" rel="stylesheet">

<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic' rel='stylesheet' type='text/css'>


  </head>
  <body>



 <!-- startMain content-->
<div class="container">
  <div class="row mar-bop-xl">

    <div class="col s12 m8 l12 center-align">
      <i class="icon-linear-brain icon-uc-size"></i>
    <h3 class="">Sin accesso ...</h3>
     <h5 class="">No estas autorizado para acceder.</h5>
     <h2><a href="{{ path('login') }}">Volver</a></h2>
     <p>©Hera 2015. Todos los derechos reservados.</p>

    </div>


</div>


</div>
 <!-- end Main content-->



    <!--  Scripts-->
    <script type="text/javascript" src="{{ asset('bundles/boletines/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/jquery.timeago.min.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/prism.js') }}"></script>
    <script src="{{ asset('bundles/boletines/bin/materialize.js') }}"></script>
    <script src="{{ asset('bundles/boletines/js/init.js') }}"></script>

  </body>
</html>
