{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecimiento edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('establecimiento_edit', {'id':establecimiento.idEstablecimiento }) }}" method="post">
        <input type="text" value="{{ establecimiento.idEstablecimiento }}" hidden="hidden" name="id"><br/>
        <input type="text" value="{{ establecimiento.nombreEstablecimiento }}" placeholder="nombre" name="nombreEstablecimiento"><br/>
        <input type="text" value="{{ establecimiento.direccionEstablecimiento }}" placeholder="direccion" name="direccionEstablecimiento"><br/>
        <input type="text" value="{{ establecimiento.emailEstablecimiento }}" placeholder="email" name="emailEstablecimiento"><br/>
        <input type="text" value="{{ establecimiento.telefonoEstablecimiento }}" placeholder="telefono" name="telefonoEstablecimiento"><br/>
        {% if establecimiento.institucion != null %}
            <p>Institucion Asociado</p>
            <p>{{ establecimiento.institucion.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idInstitucion">
            {% for institucion in entitiesRelacionadas %}

                <option value="{{institucion.idInstitucion}}">{{institucion.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('establecimiento') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
