{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecimiento list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Idestablecimiento</th>
                <th>Nombre establecimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.idEstablecimiento }}</td>
                <td><a href="{{ path('establecimiento_show', { 'id': entity.idEstablecimiento }) }}">{{ entity.__toString() }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('establecimiento_show', { 'id': entity.idEstablecimiento }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('establecimiento_edit', { 'id': entity.idEstablecimiento }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('establecimiento_delete', { 'id': entity.idEstablecimiento }) }}">Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('establecimiento_new') }}">
                Crear Nueva Establecimiento
            </a>
        </li>
    </ul>
    {% endblock %}
