{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecimiento</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Establecimiento</th>
            <td>{{ establecimiento.idEstablecimiento }}</td>
        </tr>
        <tr>
            <th>Establecimiento</th>
            <td>{{ establecimiento.nombreEstablecimiento }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ establecimiento.direccionEstablecimiento }}</td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{ establecimiento.emailEstablecimiento }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ establecimiento.telefonoEstablecimiento }}</td>
        </tr>

        {% if establecimiento.institucion != null %}
            <tr>
                <th>Institucion Asociado</th>
                <td>{{ establecimiento.institucion.__toString() }}</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('establecimiento') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('establecimiento_edit', { 'id': establecimiento.idEstablecimiento }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('establecimiento_delete', { 'id': establecimiento.idEstablecimiento }) }}">Borrar</a></li>
</ul>
{% endblock %}
