{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecimiento</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Idestablecimiento</th>
            <td>{{ entity.idEstablecimiento }}</td>
        </tr>
            <tr>
                <th>Establecimiento</th>
                <td>{{ entity.nombreEstablecimiento }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('establecimiento') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('establecimiento_edit', { 'id': entity.idEstablecimiento }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('establecimiento_delete', { 'id': entity.idEstablecimiento }) }}">Borrar</a></li>
</ul>
{% endblock %}
