{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Establecimiento</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ establecimiento.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ establecimiento.nombre }}</td>
        </tr>
        <tr>
            <th>Maximo faltas</th>
            <td>{{ establecimiento.maximoFaltas }}</td>
        </tr>
        <tr>
            <th>Tardes faltas</th>
            <td>{{ establecimiento.tardesFaltas }}</td>
        </tr>

        {% if establecimiento.institucion != null %}
            <tr>
                <th>Institucion Asociado</th>
                <td>{{ establecimiento.institucion.nombre() }}</td>
            </tr>
        {% endif %}

        </tbody>
    </table>

{% endblock %}
