{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('institucion') }}" >Instituciones</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="{{ path('institucion_show', {'id' : establecimiento.institucion.id}) }}" >Ficha inst.</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Ficha Est.</a></li>
{% endblock %}

{% block page %}

    <div class="row mar-top-soft">

        <div class="col s12 m8 l8">
            <h3 class="header">{{  establecimiento.institucion.nombre}}</h3>
        </div>
        <div class="col s12 m4 l4 center-align">
            {{ macros.show_institucion_logo_nombre(establecimiento.institucion) }}
        </div><!--  End Tables Section  -->

    </div>
    <div class="divider mar-top-soft"></div>

    <div class="row mar-top-soft">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s10 m10 l10">
                    <h4 class="header">{{ establecimiento.nombre }}</h4>
                </div>
                <div class="col s2 m2 l2">
                    <a href="{{ path('establecimiento_edit', {'id': establecimiento.id}) }}" data-position="left" data-delay="25" data-tooltip="Editar establecimiento" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-pencil"></i></a>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12"><h6 class="header">Datos del establecimiento</h6></div>
        <div class="col s12 m6 l6">
            <h5 class="header">Dirección: <span class="span-s"> {{ establecimiento.direccion }}</span></h5>
            <h5 class="header">Longitud: <span class="span-s"> {{ establecimiento.longitud }}</span></h5>
            <h5 class="header">Código país: <span class="span-s"> {{ establecimiento.codigoPais }}</span></h5>
            <h5 class="header">Fecha de inaguración: <span class="span-s"> {{ establecimiento.fechaInauguracion | date('d/m/Y') }}</span></h5>
            <h5 class="header">Fecha de creación: <span class="span-s"> {{ establecimiento.creationTime | date('d/m/Y') }}</span></h5>
        </div>
        <div class="col s12 m6 l6">
            <h5 class="header">Ciudad: <span class="span-s"> {{ establecimiento.ciudad }} </span> </h5>
            <h5 class="header">Código postal: <span class="span-s"> {{ establecimiento.codigoPostal }}</span></h5>
            <h5 class="header">Latitud: <span class="span-s"> {{ establecimiento.latitud }}</span></h5>
            <h5 class="header">Código de area: <span class="span-s"> {{ establecimiento.codigoArea }}</span></h5>
            <h5 class="header">Email: <span class="span-s"> {{ establecimiento.email }}</span></h5>
        </div>
        <div class="col s12 m12 l12"><h6 class="header mar-top-soft">Configuración del establecimiento</h6></div>
        <div class="col s12 m6 l6">
            <h5 class="header">Esquema de calificación: <span class="span-s"> {{ establecimiento.esquemaCalificacion }} </span> </h5>
        </div>
        <div class="col s12 m6 l6">
            <h5 class="header">Esquema de asistencia: </h5>
            <h6 class="header">Total de faltas: <span class="span-s"> {{ establecimiento.maximoFaltas }} </span> </h6>
            <h6 class="header">Cantidad de llegadas tarde que equivalen una falta: <span class="span-s"> {{ establecimiento.tardesFaltas }} </span> </h6>
            <h6 class="header">Observaciones: <span class="span-s"> {{ establecimiento.observaciones }}</span> </h6>
        </div>
    </div>
  {% endblock %}
