{% extends '::base.html.twig' %}

{% block body -%}
    <h1>GrupoUsuario</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id GrupoUsuario</th>
            <td>{{ grupoUsuario.idGrupoUsuario }}</td>
        </tr>
        <tr>
            <th>GrupoUsuario</th>
            <td>{{ grupoUsuario.nombreGrupoUsuario }}</td>
        </tr>
        <tr>
            <th>Es privado</th>
            <td><input type="checkbox" value="{{ grupoUsuario.esPrivado }}"  disabled><br/></td>
        </tr>
        {% if grupoUsuario.usuarioCarga != null %}
        <tr>
            <th>Usuario Asociado</th>
            <td>{{ grupoUsuario.usuarioCarga.__toString() }}</td>
        </tr>
        {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('grupoUsuario') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('grupoUsuario_edit', { 'id': grupoUsuario.idGrupoUsuario }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('grupoUsuario_delete', { 'id': grupoUsuario.idGrupoUsuario }) }}">Borrar</a></li>
</ul>
{% endblock %}
