<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Asignar materia</title>

  <!-- JS -->
  <script type="text/javascript" src="{{ asset('bundles/boletines/bower_components/jquery/dist/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/boletines/bower_components/moment/min/moment.min.js') }}"></script>
  <script type="text/javascript" src="{{ asset('bundles/boletines/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/paper/bootstrap.min.css">
  <link rel="stylesheet" href="{{ asset('bundles/boletines/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}" />

</head>
<body>

  <main class="container">
    <!-- ANGULAR VIEWS -->

    <div class="page-header">
      <h1>Asignar materia al alumno {{ alumno.nombre }} {{ alumno.apellido }}</h1>
    </div>

    <form class="form-horizontal" method="post" action="">

      <div class="form-group">
        <label for="select" class="col-sm-2 control-label">Materia</label>
        <div class="col-sm-6">
          <select class="form-control" id="select" name="materia">
            {% for materia in materias %}
              <option value="{{ materia.id }}">{{ materia.nombre }}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button type="submit" class="btn btn-success btn-lg btn-block">Asignar</button>
        </div>
      </div>
    </form>


  </main>

</body>

<script type="text/javascript">
    // $(function () {
    //     $('#datetimepicker1').datetimepicker();
    // });
</script>

</html>
