{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Alumno list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id Alumno</th>
                <th>Nombre alumno</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for alumno in entities %}
            <tr>
                <td>{{ alumno.id }}</td>
                <td><a href="{{ path('alumno_show', { 'id': alumno.id }) }}">{{ alumno.__toString() }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('alumno_show', { 'id': alumno.id }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('alumno_edit', { 'id': alumno.id }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('alumno_delete', { 'id': alumno.id }) }}">Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('alumno_new') }}">
                Crear Nueva Alumno
            </a>
        </li>
    </ul>
    {% endblock %}
