{% extends 'BoletinesBundle:Layout:layout.html.twig' %}

{% block page %}
    <div class="row mar-top-soft">
        <div class="col s12 m12 l12">
            <div class="row">
                <div class="col s12 m4 l2 center-align">
                    {{ macros.ficha_foto_entity(alumno) }}
                </div>
                <div class="col s12 m4 l6">
                    <h3 class="header">{{ alumno.nombre }}</h3>
                    <h5 class="header">
                        {% if alumno.establecimiento.nombre is defined %}
                            {{ alumno.establecimiento.nombre }}
                        {% endif %}
                    </h5>
                </div>

                <div class="col s12 m4 l2 left">
                    {{ macros.ficha_logo_institucion(alumno) }}
                </div>
            </div>
            <div class="divider mar-bot-top"></div>
            <div class="row">
                <div class="col s10 m10 l10">
                    <h4 class="header">Datos del alumno</h4>
                </div>
                {% if app.user.rol == 'ROLE_DIRECTIVO' %}
                  <div class="col s2 m2 l2">
                      <a href="{{path('alumno_edit', {'id' : alumno.id})}}" data-position="left" data-delay="25" data-tooltip="Editar alumno" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-pencil"></i></a>
                  </div>
                {% endif %}
            </div>
            <div class="row">
                <div class="col s12 m6 l6">
                    <h5 class="header">Nombre/s: <span class="span-s"> {{ alumno.nombre }}</span></h5>
                    <h5 class="header">DNI: <span class="span-s"> {{ alumno.dni }}</span></h5>
                    <h5 class="header">Género: <span class="span-s"> {{ alumno.sexo|capitalize }}</span></h5>
                    <h5 class="header">Fecha de nacimiento: <span class="span-s"> {{ alumno.fechaNacimiento|date('d/m/Y') }}</span></h5>
                    <h5 class="header">Madre/Padre/Tutor o encargado N.1:
                        <span class="span-s">
                            {% if alumno.padre1.nombre is defined %}
                                {{ alumno.padre1.nombre }}
                            {% endif %}
                        </span>
                    </h5>
                    <h5 class="header">Código postal: <span class="span-s"> {{ alumno.codigoPostal }}</span></h5>
                    <h5 class="header">Teléfono de emergencia: <span class="span-s"> {{ alumno.telefonoEmergencia }}</span></h5>
                    <h5 class="header">Email: <span class="span-s"> {{ alumno.usuario.email|default('') }}</span></h5>
                    <h5 class="header">Establecimiento:
                     <span class="span-s">
                            {% if alumno.establecimiento.nombre is defined %}
                                {{ alumno.establecimiento.nombre }}
                            {% endif %}
                        </span>
                    </h5>
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="header">Apellido/s: <span class="span-s"> {{ alumno.apellido }}</span> </h5>
                    <h5 class="header">Fecha de ingreso: <span class="span-s"> {{ alumno.fechaIngreso|date('d/m/Y') }}</span></h5>
                    <h5 class="header">Madre/Padre/Tutor o encargado N.2:
                        <span class="span-s">
                            {% if alumno.padre2.nombre is defined %}
                                {{ alumno.padre2.nombre }}
                            {% endif %}
                        </span>
                    </h5>
                    <h5 class="header">Ciudad:
                        <span class="span-s">
                            {% if alumno.ciudad.nombre is defined %}
                                {{ alumno.ciudad.nombre }}
                            {% endif %}
                        </span>
                    </h5>
                    <h5 class="header">Dirección: <span class="span-s"> {{ alumno.direccion }}</span></h5>
                    <h5 class="header">Teléfono: <span class="span-s"> {{ alumno.telefono }}</span></h5>
                    <h5 class="header">Obra social: <span class="span-s"> {{ alumno.obraSocial }}</span></h5>
                    <h5 class="header">Número de afiliado: <span class="span-s"> {{ alumno.obraSocialNumeroAfiliado }}</span></h5>
                    <h5 class="header">Grupo sanguíneo: <span class="span-s"> {{ alumno.grupoSanguineo }}</span></h5>
                    <h5 class="header">Apodo: <span class="span-s"> {{ alumno.apodo }}</span></h5>
                </div>
                <div class="col s12 m6 l6">
                    <h5 class="header">Observaciones: <span class="span-s"> {{ alumno.observaciones }}</span> </h5>
                </div>

            </div>





        </div><!--  end col  -->
    </div><!--  end row  -->
{% endblock %}
