{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Generar Reportes</a></li>
{% endblock %}
{% block page %}

    <div class="row">
        <div class="col s10 m10 l10">
            <h4 class="header">Reportes</h4>
            <h5 class="header">¿Qué quieres reportar?</h5>
        </div>
    </div>
    <div class="row mar-top-soft">
        <div class=" col s12 m12 l12 mar-bot">
            <h6 class="header">Selecciona el tipo de reporte a generar.</h6>
            <div>
                <div class="row">
                    <div class=" col s6">
                        <p>
                            <input name="count" type="radio" id="cuantos" class="count" value="si"  />
                            <label for="cuantos">Cuántos</label>
                        </p>
                    </div>
                    <div class=" col s6">
                        <p>
                            <input name="count" type="radio" id="cuales" class="count" value="no" checked />
                            <label for="cuales">Cúales</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12">    <!--  empieza desplegables  -->
            <ul class="collapsible mar-top-soft" data-collapsible="expandable">
                <li>
                    <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-funnel"></i> Alumnos<i class="icon-linear-chevron-down right"></i></h5></div>

                    <div class="collapsible-body"> <!--  start alumno  -->

                        <div class="row">



                            <div class="col l12 pad-all-collapsible">
                                <form id="formularioAl" class="well" action="{{ path('reporte_new') }}" method="post">
                                    <input  type="hidden" id="fromAl" name="from" value="Alumno"/>
                                    <input  type="hidden" id="countAl" name="count" value="Alumno"/>
                                    <input  type="hidden" id="whereAl" name="where"/>
                                    <input  type="hidden" id="joinTBAl" name="joinTB"/>
                                    <input  type="hidden" id="joinWBAl" name="joinWB"/>
                                    <input  type="hidden" id="joinTCAl" name="joinTC"/>
                                    <input  type="hidden" id="joinWCAl" name="joinWC"/>
                                    <input  type="hidden" id="joinTDAl" name="joinTD"/>
                                    <input  type="hidden" id="joinWDAl" name="joinWD"/>
                                    <input  type="hidden" id="asistenciaAId" value="" name="asistenciaAid"/>
                                <div class="row">
                                    <h6 class="header mar-left">¿Qué datos queres ver en el reporte?</h6>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="nombre" name="campo[]" value="nombre" class="filled-in"/>
                                                <label for="nombre">Nombre</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="apellido" name="campo[]" value="apellido" class="filled-in"/>
                                                <label for="apellido">Apellido</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="dni" name="campo[]" value="dni" class="filled-in"/>
                                                <label for="dni">DNI</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="sexo" name="campo[]" value="sexo" class="filled-in"/>
                                                <label for="sexo">Género</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="direccion" name="campo[]" value="direccion" class="filled-in"/>
                                                <label for="direccion">Dirección</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="telefono" name="campo[]" value="telefono" class="filled-in"/>
                                                <label for="telefono">Teléfono</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="telefonoEmergencia" name="campo[]" value="telefonoEmergencia" class="filled-in"/>
                                                <label for="telefonoEmergencia">Teléfono de Emergencia</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s12 divider"></div>
                                </div><!--  End row  -->

                                <div class="row mar-top-soft">
                                    <h6 class="header mar-left">¿Qué filtros quiere aplicar?</h6>
                                    <div class="input-field col s12 m4 l4">
                                        <input id="nombref" type="text" name="" class="validate campoAl" campo="nombre" operador="like">
                                        <label for="nombref">Nombre</label>
                                    </div>
                                    <div class="input-field col s12 m4 l4">
                                        <input id="apellidof" type="text" name="" class="validate campoAl" campo="apellido" operador="like">
                                        <label for="apellidof">Apellido</label>
                                    </div>
                                    <div class="input-field col s12 m4 l4">
                                        <input id="dniF" type="text" name="" class="validate campoAl" campo="dni" operador="like">
                                        <label for="dniF">DNI</label>
                                    </div>
                                    <div class=" col s12 m6 l6 mar-bot">
                                        <h6 class="header">Género</h6>
                                        <div>
                                            <div class="row">
                                                <div class=" col s12 m4 l4">
                                                    <p>
                                                        <input name="genero" type="radio" id="masculino" value="M" class="radioAl" campo="sexo" />
                                                        <label for="masculino">Masculino</label>
                                                    </p>
                                                </div>
                                                <div class=" col s12 m4 l4">
                                                    <p>
                                                        <input name="genero" type="radio" id="femenino" value="F" class="radioAl" campo="sexo"/>
                                                        <label for="femenino">Femenino</label>
                                                    </p>
                                                </div>
                                                <div class=" col s12 m4 l4">
                                                    <p>
                                                        <input name="genero" type="radio" id="indistinto" value="" checked class="radioAl" campo="sexo"/>
                                                        <label for="indistinto">Indistinto</label>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 divider"></div>
                                </div>
                                <div class="row mar-top-soft">
                                    <h5 class="header mar-left">Asistencia</h5>
                                    <div class=" col s12 m4 l4">
                                        <i class="icon-linear-calendar-full"></i>
                                        <label for="fechaasistencia" class="">Fecha</label>
                                        <input type="date" id="fechaasistencia" name="fechaasistencia" class="datepicker">
                                    </div>
                                    <div class="input-field col s12 m4 l4 mar-top-soft">
                                        <select id="festablecimientoAA" name="festablecimiento">
                                            <option value="">Seleccione un establecimiento</option>
                                            {% for establecimiento in establecimientos %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Establecimientos</label>
                                    </div>
                                    <div class="input-field col s12 m4 l4 mar-top-soft">
                                        <select id="fmateriaAA" name="materiaasistencia">
                                            <option value="">Seleccione un establecimiento</option>
                                        </select>
                                        <label>Materias</label>
                                    </div>
                                    <div class=" col s3 m3 l3">
                                        <p>
                                            <input name="asistenciavalor" type="radio" id="presente" value="P"  />
                                            <label for="presente">Presente</label>
                                        </p>
                                    </div>
                                    <div class=" col s3 m3 l3">
                                        <p>
                                            <input name="asistenciavalor" type="radio" id="tarde" value="T" />
                                            <label for="tarde">Tarde</label>
                                        </p>
                                    </div>
                                    <div class=" col s3 m3 l3">
                                        <p>
                                            <input name="asistenciavalor" type="radio" id="ausente" value="A" />
                                            <label for="ausente">Ausente</label>
                                        </p>
                                    </div>
                                    <div class=" col s3 m3 l3">
                                        <p>
                                            <input name="asistenciavalor" type="radio" id="indistintoA" value="" checked />
                                            <label for="indistintoA">Indistinto</label>
                                        </p>
                                    </div>

                                    <div class="col s12 divider"></div>
                                </div>
                                <div class="row mar-top-soft">
                                    <h5 class="header mar-left">Convivencia</h5>
                                    <div class=" col s3 m3 l3">
                                        <i class="icon-linear-calendar-full"></i>
                                        <label for="fechaconvivencia" class="">Fecha</label>
                                        <input type="date" id="fechaconvivencia" name="fechaconvivencia" class="datepicker">
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                 <input name="convivencia" type="radio" id="positiva" value="1" class="convivencia" />
                                                <label for="positiva"><i class="icon-linear-wink news-i-g conv-i"></i></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input name="convivencia" type="radio" id="negativa" value="0" class="convivencia" />
                                                <label for="negativa"><i class="icon-linear-mad news-i-b conv-i"></i></label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input name="convivencia" type="radio" id="convivenciaIndistin" value="" class="convivencia" checked/>
                                                <label for="convivenciaIndistin">Indistinto</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s12 divider mar-top-soft"></div>
                                </div>
                                <div class="row mar-top-soft" >
                                    <h5 class="header mar-left">Evaluaciones</h5>
                                    <div class="input-field col s12 m6 l5 mar-top-soft">
                                        <select id="festablecimientoAE" name="festablecimiento">
                                            <option value="">Seleccione un establecimiento</option>
                                            {% for establecimiento in establecimientos %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Establecimientos</label>
                                    </div>
                                    <div class="input-field col s12 m6 l5 mar-top-soft">
                                        <select id="fmateriaAE" name="fmateria">
                                            <option value="">Seleccione un establecimiento</option>
                                        </select>
                                        <label>Materias</label>
                                    </div>
                                    <div class="input-field col s12 m6 l5 mar-top-soft">
                                        <select id="fevaluacion" name="fevaluacion">
                                            <option value="">Seleccione una materia</option>
                                        </select>
                                        <label>Evaluación</label>
                                    </div>
                                    <div class="input-field col s12 m4 l2 mar-top-soft">
                                        <select class="initialized" id="fcalificacion" name="fcalificacion">
                                            <option value="">Seleccione una evaluación</option>
                                        </select>
                                        <label for="valor">Valor</label>
                                    </div>
                                </div>

                                <div class="col s12 m12 l12 left mar-top-soft">
                                    <a onclick="generarReporteAlumno()" href="#" class="btn-xsmall btn-xsmall-fix waves-effect waves-light">Generar reporte</a>
                                </div>
                                </form>
                            </div>

                        </div> <!--  end alumno  -->
                    </div>     <!--  end alumno  -->


                </li>
                <li>
                    <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-funnel"></i> Evaluaciones<i class="icon-linear-chevron-down right"></i></h5></div>
                    <div class="collapsible-body"> <!--  start evaluacion  -->
                        <div class="row">
                            <div class="col l12 pad-all-collapsible">
                                <form id="formularioEv" class="well" action="{{ path('reporte_new') }}" method="post">
                                    <input  type="hidden" id="fromEv" name="from" value="Evaluacion"/>
                                    <input  type="hidden" id="countEv" name="count" value="Alumno"/>
                                    <input  type="hidden" id="whereEv" name="where"/>
                                    <input  type="hidden" id="joinTBEv" name="joinTB"/>
                                    <input  type="hidden" id="joinSBEv" name="joinSB"/>
                                    <input  type="hidden" id="joinWBEv" name="joinWB"/>
                                    <input  type="hidden" id="joinTCEv" name="joinTC"/>
                                    <input  type="hidden" id="joinSCEv" name="joinSC"/>
                                    <input  type="hidden" id="joinWCEv" name="joinWC"/>
                                    <input  type="hidden" id="joinTDEv" name="joinTD"/>
                                    <input  type="hidden" id="joinWDEv" name="joinWD"/>

                                <div class="row">
                                    <h6 class="header mar-left">¿Qué datos queres ver en el reporte?</h6>

                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="nombreEv" name="campo[]" value="nombre" class="filled-in"/>
                                                <label for="nombreEv">Nombre de evaluac.</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="calificadaEv" name="campo[]" value="calificada" class="filled-in"/>
                                                <label for="calificadaEv">Calificada</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="fechaEv" name="campoEspecial[]" value="DATE_FORMAT(a.fecha, '%d/%m/%Y') as Fecha" class="filled-in"/>
                                                <label for="fechaEv">Fecha</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s12 divider"></div>
                                </div><!--  End row  -->

                                <div class="row mar-top-soft">
                                    <div class=" col s12 m6 l6">
                                        <i class="icon-linear-calendar-full"></i>
                                        <label for="fechaDesdeEv" class="">Fecha desde</label>
                                        <input type="date" name="fechaDesdeEv" id="fechaDesdeEv" class="datepicker campoEv" campo="fecha" operador=">">
                                    </div>
                                    <div class=" col s12 m6 l6">
                                        <i class="icon-linear-calendar-full"></i>
                                        <label for="fechaHastaEv" class="">Fecha hasta</label>
                                        <input type="date" name="fechaHastaEv" id="fechaHastaEv" class="datepicker campoEv" campo="fecha" operador=">">
                                    </div>
                                    <div class="input-field col s12 m4 l4 mar-top-soft">
                                        <select id="festablecimientoEv" name="festablecimiento">
                                            <option value="">Seleccione un establecimiento</option>
                                            {% for establecimiento in establecimientos %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Establecimientos</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6 mar-top-soft">
                                        <select id="fmateriaEv">
                                            <option  name="fmateria" value="" disabled selected>Seleccione un establecimiento</option>
                                        </select>
                                        <label>Materias</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6 mar-top-soft">
                                        <select id="fdocenteEv">
                                            <option  name="fdocente" value="" disabled selected>Seleccione un establecimiento</option>
                                        </select>
                                        <label>Docente</label>
                                    </div>

                                </div>


                                    <div class="col s12 m12 l12 left mar-top-soft">
                                        <a onclick="generarReporteEvaluacion()" href="#" class="btn-xsmall btn-xsmall-fix waves-effect waves-light">Generar reporte</a>
                                    </div>

                                </form>
                            </div>
                        </div> <!--  end evaluac  -->
                    </div>     <!--  end evaluac  -->
                </li>
                <li>
                    <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-funnel"></i> Calificaciones<i class="icon-linear-chevron-down right"></i></h5></div>
                    <div class="collapsible-body"> <!--  start calificac  -->
                        <div class="row">
                            <div class="col l12 pad-all-collapsible">
                                <form id="formularioCa" class="well" action="{{ path('reporte_new') }}" method="post">
                                    <input  type="hidden" id="fromCa" name="from" value="Calificacion"/>
                                    <input  type="hidden" id="countCa" name="count" value="Calificacion"/>
                                    <input  type="hidden" id="whereCa" name="where"/>
                                    <input  type="hidden" id="joinTBCa" name="joinTB"/>
                                    <input  type="hidden" id="joinSBCa" name="joinSB"/>
                                    <input  type="hidden" id="joinWBCa" name="joinWB"/>
                                    <input  type="hidden" id="joinTCCa" name="joinTC"/>
                                    <input  type="hidden" id="joinSCCa" name="joinSC"/>
                                    <input  type="hidden" id="joinWCCa" name="joinWC"/>
                                    <input  type="hidden" id="joinTDCa" name="joinTD"/>
                                    <input  type="hidden" id="joinWDCa" name="joinWD"/>
                                    <input  type="hidden" id="evaluacionCId" name="evaluacionCId"/>
                                <div class="row">
                                    <h6 class="header mar-left">¿Qué datos queres ver en el reporte?</h6>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="comentarioCa" name="campo[]" value="comentario" class="filled-in"/>
                                                <label for="comentarioCa">Comentario</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="fechaCal" name="campo[]" value="fecha" class="filled-in"/>
                                                <label for="fechaCal">Fecha en que se calificó</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s12 divider"></div>
                                </div><!--  End row  -->

                                <div class="row mar-top-soft">
                                    <div class="input-field col s12 m4 l4 mar-top-soft">
                                        <select id="festablecimientoCa" name="festablecimiento">
                                            <option value="">Seleccione un establecimiento</option>
                                            {% for establecimiento in establecimientos %}
                                                <option value="{{ establecimiento.id }}">{{ establecimiento }}</option>
                                            {% endfor %}
                                        </select>
                                        <label>Establecimientos</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6 mar-top-soft">
                                        <select id="fmateriaCa" name="fmateria">
                                            <option   value="" disabled selected>Seleccione un establecimiento</option>
                                        </select>
                                        <label>Materias</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6 mar-top-soft">
                                        <select id="fdocenteCa" name="fdocente">
                                            <option   value="" disabled selected>Seleccione un establecimiento</option>
                                        </select>
                                        <label>Docente</label>
                                    </div>
                                    <div class="input-field col s12 m6 l6 mar-top-soft">
                                        <select id="valorcalificacionC" class="campoCa" campo="valor" operador="=">
                                            <option value="" disabled selected>Seleccione un establecimiento</option>
                                        </select>
                                        <label>Docente</label>
                                    </div>
                                </div>

                                    <div class="col s12 m12 l12 left mar-top-soft">
                                        <a onclick="generarReporteCalificacion()" href="#" class="btn-xsmall btn-xsmall-fix waves-effect waves-light">Generar reporte</a>
                                    </div>
                            </form>
                            </div>
                        </div> <!--  end Calificacion  -->
                    </div>     <!--  end Calificacion  -->
                </li>
                <li>
                    <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-funnel"></i> Docentes<i class="icon-linear-chevron-down right"></i></h5></div>
                    <div class="collapsible-body"> <!--  start docentes  -->
                        <div class="row">
                            <div class="col l12 pad-all-collapsible">
                                <form id="formularioDo" class="well" action="{{ path('reporte_new') }}" method="post">
                                    <input  type="hidden" id="fromDo" name="from" value="Docente"/>
                                    <input  type="hidden" id="countDo" name="count" value="docente"/>
                                    <input  type="hidden" id="whereDo" name="where"/>
                                    <input  type="hidden" id="joinTBDo" name="joinTB"/>
                                    <input  type="hidden" id="joinWBDo" name="joinWB"/>
                                    <input  type="hidden" id="joinTCDo" name="joinTC"/>
                                    <input  type="hidden" id="joinWCDo" name="joinWC"/>
                                    <input  type="hidden" id="joinTDDo" name="joinTD"/>
                                    <input  type="hidden" id="joinWDDo" name="joinWD"/>
                                <div class="row">
                                    <h6 class="header mar-left">¿Qué datos queres ver en el reporte?</h6>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="nombreD" name="campo[]" value="nombre" class="filled-in"/>
                                                <label for="nombreD">Nombre</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="apellidoD" name="campo[]" value="apellido" class="filled-in"/>
                                                <label for="apellidoD">Apellido</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="dniD" name="campo[]" value="dni" class="filled-in"/>
                                                <label for="dniD">DNI</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="telefonoD" name="campo[]" value="telefono" class="filled-in"/>
                                                <label for="telefonoD">Telefono</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="fechaNacimientoD" name="campo[]" value="fechaNacimiento" class="filled-in"/>
                                                <label for="fechaNacimientoD">Fecha nacimiento</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="fechaIngresoD" name="campo[]" value="fechaIngreso" class="filled-in"/>
                                                <label for="fechaIngresoD">Fecha Ingreso</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="tituloD" name="campo[]" value="titulo" class="filled-in"/>
                                                <label for="tituloD">Titulo</label>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col s3 m3 l3">
                                        <div>
                                            <p>
                                                <input type="checkbox" id="observaciones" name="campo[]" value="observaciones" class="filled-in"/>
                                                <label for="observaciones">Observaciones</label>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col s12 divider"></div>
                                </div><!--  End row  -->
                                    <div class="row mar-top-soft">
                                        <h6 class="header mar-left">¿Qué filtros quiere aplicar?</h6>
                                        <div class="input-field col s12 m4 l4">
                                            <input id="nombrefd" type="text" name="" class="validate campoDo" campo="nombre" operador="like">
                                            <label for="nombrefd">Nombre</label>
                                        </div>
                                        <div class="input-field col s12 m4 l4">
                                            <input id="apellidofd" type="text" name="" class="validate campoDo" campo="apellido" operador="like">
                                            <label for="apellidofd">Apellido</label>
                                        </div>
                                        <div class="input-field col s12 m4 l4">
                                            <input id="dnifD" type="text" name="" class="validate campoDo" campo="dni" operador="like">
                                            <label for="dnifD">DNI</label>
                                        </div>
                                        <div class="input-field col s12 m4 l4">
                                            <input id="titulofd" type="text" name="" class="validate campoDo" campo="titulo" operador="like">
                                            <label for="titulofd">Titulo</label>
                                        </div>
                                        <div class="input-field col s12 m4 l4">
                                            <input id="observacionesfD" type="text" name="" class="validate campoDo" campo="observaciones" operador="like">
                                            <label for="observacionesfD">Observaciones</label>
                                        </div>
                                        <div class=" col s12 m6 l6">
                                            <i class="icon-linear-calendar-full"></i>
                                            <label for="fechaDesdeDo" class="">Fecha ingreso desde</label>
                                            <input type="date" name="fechaDesdeDo" id="fechaDesdeDo" class="datepicker" campo="fechaIngreso" operador=">">
                                        </div>
                                        <div class=" col s12 m6 l6">
                                            <i class="icon-linear-calendar-full"></i>
                                            <label for="fechaHastaDo" class="">Fecha ingreso hasta</label>
                                            <input type="date" name="fechaHastaDo" id="fechaHastaDo" class="datepicker" campo="fechaIngreso" operador=">">
                                        </div>
                                        <div class="col s12 divider"></div>
                                    </div>
                                    <div class="col s12 m12 l12 left mar-top-soft">
                                        <a onclick="generarReporteDocente()" href="#" class="btn-xsmall btn-xsmall-fix waves-effect waves-light">Generar reporte</a>
                                    </div>
                            </form>
                            </div>
                        </div> <!--  end docentes  -->
                    </div>     <!--  end docentes  -->
                </li>
            </ul>
        </div>
        <!--  termina desplegables  -->
    </div><!--  End row  -->
<form id="formajax" class="well" action="{{ path('reporte_ajax') }}" method="post" hidden="true">
    </form>
{% endblock %}

{% block javascript %}

    <script src="{{ asset('bundles/boletines/js/reporte.js') }}"></script>
{% endblock %}
