{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="#" class="b-focus">Generar Reportes</a></li>
{% endblock %}
{% block page %}
<table class="display" id="table_id">
    <thead>
    {% for columna in columnas %}
        <th> {{ columna.data }}</th>
    {% endfor %}
    </thead>
</table>
{% endblock %}


{% block javascript %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boletines/assets/vendor/datatables/dataTables.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boletines/assets/vendor/datatables/buttons/css/buttons.dataTables.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/boletines/assets/vendor/datatables/select/css/select.dataTables.min.css')}}">
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/dataTables.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/buttons/js/dataTables.buttons.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/buttons/js/buttons.flash.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/buttons/js/buttons.html5.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/buttons/js/buttons.print.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/JSZip/jszip.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/pdfmake/build/pdfmake.min.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/pdfmake/build/vfs_fonts.js')}}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('bundles/boletines/assets/vendor/datatables/select/js/dataTables.select.min.js')}}"></script>

    <script type="text/javascript">
      var columnas  = {{ columnas|json_encode|raw }};
      var datos =  {{ datos|json_encode|raw }};
        (function(window, document, $) {
            $('#table_id').DataTable({
                ordering: false,
                searching: false,
                select: true,
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print', {
                        extend: 'pdf',
                        text: 'Exportar seleccionados a PDF',
                        exportOptions: {
                            modifier: {
                                selected: true
                            }
                        }
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.10.10/i18n/Spanish.json'
                },
                columns: columnas,
                data: datos
            });
        })(window, document, jQuery);
    </script>
{% endblock %}