{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('materia') }}" class="">Materias</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="{{ path('materia_show', { 'id': evaluacion.materia.id }) }}" >Detalle materia</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Calificar</a></li>
{% endblock %}
{% block page %}
    <div class="col s12 m12 l12 mar-top-soft">
        <h4 class="header">Calificar instancia de evaluaci贸n</h4>
    </div>
    <div class="col s12 m12 l12"> <!-- start materia-->
        <div class="panel-mini panel-assigment">
            <div class="row">
                <div class="col s6">
                    <h5 class="panel-title">
                        <a href="{{ path('materia_show', {'id':evaluacion.materia.id }) }}">
                            {{ evaluacion.materia.__toString() }}
                        </a> </h5>
                    <h4>
                        {% for grupo in evaluacion.materia.gruposAlumnos %}
                            {{ grupo ~ ' ' }}
                        {% endfor %}
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col s12 row mar-top-low right-align">
                    <i class="icon-linear-clock "></i>
                    {% for horario in evaluacion.materia.horarios %}
                        <span class="widget-time-date"> {{ horario}}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <h4 class="">{{ evaluacion.nombre }}</h4>
            </div>
            <div class=" col s12 m6 l6">
                <h4  class="">
                    <i class="icon-linear-calendar-insert icon-nav-size"></i>{{ evaluacion.fecha|date('d/m/Y') }}
                </h4>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <form action="{{ path('evaluacion_calificar', { 'id': evaluacion.id }) }}" method="post">
                <table class="striped">
                    <thead>
                    <tr>
                        <th data-field="id">Alumno</th>
                        <th data-field="name">Calificaci贸n</th>
                        <th data-field="name">Comentario</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% if calificaciones is defined %}
                    {% for calificacion in calificaciones %}
                        <tr>
                            <td>
                                <div class="col s12">
                                    <a href="#" class="collection-a"><img src="{{ asset('bundles/boletines/images/child.jpg')}}" alt="" class="circle avatar-table">
                                        <span class="title truncate table-img-mar">{{ calificacion.alumno.nombre }}</span></a>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col s12">
                                    <select class="initialized" name="{{ calificacion.id }}cal">
                                        {% for valorC in valoresCalificacion %}
                                            {% if calificacion.valor.id == valorC.id %}
                                                <option selected="selected" value="{{valorC.id}}">{{valorC.__toString()}}</option>
                                            {% else %}
                                                <option value="{{valorC.id}}">{{valorC.__toString()}}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <label for="{{ calificacion.id }}cal" class="">Calificaci贸n</label>
                                </div>
                            </td>
                            <td>
                                <div class="input-field col col s12">
                                    <input value="{{ calificacion.comentario }}" id="{{ calificacion.id }}com" name="{{ calificacion.id }}com" type="text" class="validate">
                                    <label for="{{ calificacion.id }}com" class="">Comentario</label>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {% else %}
                        {% for alumno in evaluacion.materia.alumnos %}
                            <tr>
                                <td>
                                    <div class="col s12">
                                        <a href="#" class="collection-a"><img src="{{ asset('bundles/boletines/images/child.jpg')}}" alt="" class="circle avatar-table">
                                            <span class="title truncate table-img-mar">{{ alumno.nombre }}</span></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col s12">
                                        <select class="initialized" id="{{ alumno.id }}cal" name="{{ alumno.id }}cal">
                                            {% for valorC in valoresCalificacion %}
                                                <option value="{{valorC.id}}">{{valorC.__toString()}}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="{{ alumno.id }}cal" class="">Calificaci贸n</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field col col s12">
                                        <input  id="{{ alumno.id }}com" name="{{ alumno.id }}com" type="text" class="validate">
                                        <label for="{{ alumno.id }}com" class="">Comentario</label>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
                <div class="col s12 center-align mar-top-soft">
                    <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">Guardar</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}