{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('materia') }}" class="">Materias</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="{{ path('materia_show', { 'id': materia.id }) }}" >Detalle materia</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Nueva Evaluación</a></li>
{% endblock %}
{% block page %}
<div class="row">
    <div class="col s12 m12 l12 mar-top-soft">
        <h4 class="header">Crear instancia de evaluación</h4>

    </div>
    <div class="col s12 m10 l10'">
        <h5 class="header">{{ materia }}</h5>
        <h5 class="header">
            {% for grupo in materia.gruposAlumnos %}
                {{ grupo ~ ' ' }}
            {% endfor %}
        </h5>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <form action="{{ path('evaluacion_new', { 'id': materia.id }) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="idMateria" value="{{ materia.id }}" />
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <input name="nombre" id="nombre_inst" type="text" class="validate"/>
                <label for="nombre_inst" class="">Nombre de la instancia</label>
            </div>
            <div class=" col s12 m6 l6">
                <i class="icon-linear-calendar-insert"></i>
                <label for="fecha" class="">Fecha</label>
                <input type="date" class="datepicker" name="fecha" id="fecha">
            </div>

            <!-- <div class="row"> -->
            <div class="input-field col s12 m6 l6">
              <select name="periodo">
                <option value="" selected disabled>Seleccionar período</option>
                {% for periodo in periodos %}
                    <option value="{{ periodo.id }}">{{ periodo.nombre }}</option>
                {% endfor %}
              </select>
            </div>
            <!-- </div> -->
          </div>

          <div class="col s12 m12 l12">

            <div class="col s12 m6 l6">
              <div class="file-field input-field">
                <input class="file-path validate" type="text"/>
                <label for="logo_img">Subir archivos para la evaluación</label>
                <div class="btn-large">
                  <span>Elegir archivos</span>
                  <input type="file" name="archivos[]" multiple="multiple" id="archivos">
                </div>
             </div>
            </div>

            <div class="col s12 center-align mar-top-soft">
                <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">Crear Evaluación</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
