{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('materia') }}" class="">Materias</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="{{ path('materia_show', { 'id': evaluacion.materia.id }) }}" >Detalle materia</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Nueva Evaluación</a></li>
{% endblock %}
{% block page %}
<div class="row">
    <div class="col s12 m12 l12 mar-top-soft">
        <h4 class="header">Crear instancia de evaluación</h4>

    </div>
    <div class="col s12 m10 l10'">
        <h5 class="header">{{ materia }}</h5>
        <h5 class="header">
            {% for grupo in materia.gruposAlumnos %}
                {{ grupo ~ ' ' }}
            {% endfor %}
        </h5>
    </div>
</div>
<div class="row">
    <div class="col s12 m12 l12">
        <form action="{{ path('evaluacion_new', { 'id': materia.id }) }}" method="post">
            <input type="hidden" name="idMateria" value="{{ materia.id }}" />
            <div class="input-field col s12 m6 l6 mar-top-input-fix">
                <input name="nombre" id="nombre_inst" type="text" class="validate"/>
                <label for="nombre_inst" class="">Nombre de la instancia</label>
            </div>
            <div class=" col s12 m6 l6">
                <i class="icon-linear-calendar-insert"></i>
                <label for="fecha" class="">Fecha</label>
                <input name="fecha" type="text" class="datepicker picker__input picker__input"/>
            </div>
            <div class="col s12 center-align mar-top-soft">
                <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">Crear Evaluación</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}