{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}Evaluación{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Detalle Evaluacion</h4>
        </div>
        <div class="col s12 m10 l10'">
            <h5 class="header"><a href="{{ path('materia_show', { 'id': evaluacion.materia.id }) }}">
                {{ evaluacion.materia }}
            </a></h5>
            <h5 class="header">
                {% for grupo in evaluacion.materia.gruposAlumnos %}
                    {{ grupo ~ ' ' }}
                {% endfor %}
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m12 l12">
            <h6 class="header">{{ evaluacion }}</h6>
            <h5 class="header">{{ evaluacion.fecha|date('d/m/Y') }}</h5>
            <div class="col s2 right-align">
                <a href="{{ path('evaluacion_calificar', { 'id': evaluacion.id }) }}"
                   data-position="top" data-delay="25" data-tooltip="Calificar"
                   class="tooltipped  btn-small btn waves-effect waves-light">
                    <i class="icon-linear-list3"></i>
                </a>
                <a href="{{ path('evaluacion_edit', { 'id': evaluacion.id }) }}"
                   data-position="top" data-delay="25" data-tooltip="Editar"
                   class="tooltipped  btn-small btn waves-effect waves-light">
                    <i class="icon-linear-pencil"></i>
                </a>
            </div>
        </div>

        <div class="col s12 m6 l6">
          <h5 class="panel-title">Archivos asociados</h5>
          <div class="mail-attachments">
            <p><i class="icon-linear-paperclip"></i> <a id="downloadAll" href="{{ path('boletines_archivo_downloadZip') }}">Descargar todos</a></p>
            <ul class="list-group">
              {% for evaluacionArchivo in evaluacion.archivos %}
                {{ macros.show_item_entityFile(evaluacionArchivo) }}
              {% endfor %}
            </ul>
          </div>
        </div>

    </div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/boletines/js/fileFunctions.js') }}"></script>
{% endblock %}
