<div class="navbar-fixed">

    <ul id="dropdown1" class="dropdown-content drop-user-f">
        {% if (app.user.rol == 'ROLE_PADRE' ) %}
        <div clasS="notifi"><h6>Seleccionar hijo</h6></div>
            {% for hijo in app.session.get('hijos')  %}
        <li>
            <a href="{{ path('cambiar_hijo', { 'id': hijo.id }) }}" class="t-s duactive">
                <img src="{{ asset('bundles/boletines/images/student-avatar-f.png')}}" alt="as" class="avatar-nav-drop circle1">
                {{ hijo }}
            </a>
        </li>
        <li class="divider"></li>
        {% endfor %}

        {% endif %}
        <li><a href="#!" class="t-s du"><i class="icon-linear-user-plus left"></i> Editar perfil</a></li>
        <li><a href="{{ path('logout') }}" class="t-s du"><i class="icon-linear-exit-left left"></i> Cerrar sesión</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content drop-notification">
        <span class="circle dot"></span>
        <div clasS="notifi"><h6>Notificaciones</h6></div>
        <li class="divider"></li>
        <li class="notifii">><h6>No hay nuevas notificaciones</h6></li>
    </ul>
    <ul id="dropdown3" class="dropdown-content drop-messages">
      <span class="circle dot"></span>
      <li class="notifi"><h6>Mensajes</h6></li>
      {% if app.user.getMensajesNoLeidos|length > 0 %}
        {% for mensaje in app.user.getMensajesNoLeidos %}
          <li><a href="{{ path('mensaje_show', {'id': mensaje.mensaje.id}) }}" class="t-s"><b>{{ mensaje.mensaje.usuario.nombre }}</b> te ha enviado un mensaje<br><span class="ts-s">{{ mensaje.mensaje.fechaEnvio|ago }}</span></a></li>
          <li class="divider"></li>
        {% endfor %}
      {% else %}
        <li class="divider"></li>
      {% endif %}
      <li class="notifii"><h6><a href="{{ path('mensaje') }}">Ver todos</a></h6></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <div class=""><a href="#" data-activates="nav-mobile" class="button-collapse top-nav full"><i class="icon-linear-menu"></i></a>

                <ul class="breadcrumb left hide-on-small-only">
                    <li><a href="#" class="b-focus">
                            {% if breadcrumb is empty %}
                                Communitas
                            {% else %}
                                {{ breadcrumb }}
                            {% endif %}
                           </a></li>
                </ul>
                <ul class="right fix">
                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown2"><i class="icon-linear-alarm"><span class="badge1 badge1-danger circle">0</span></i></a></li>
                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown3"><i class="icon-linear-envelope"><span class="badge1 badge1-danger circle">{{ app.user.getMensajesNoLeidos|length }}</span></i></a></li>


                    <li><a class="dropdown-button ic" href="#!" data-activates="dropdown1">{{ app.user.nombre }}<i class="icon-linear-chevron-down right"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
