<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a href="#!" class="brand-logo"><img class="responsive-img logo" src="images/communitas-isologotipo.png"></a></li>
    <li class="main-nav-pad"><a href="{{ path('director') }}"><i class="icon-linear-history icon-nav-size"></i> <span class="span-va">Inicio</span></a></li>
    <li class="no-padding main-nav-pad ">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header active"><i class="icon-linear-users-plus icon-nav-size"></i> <span class="span-va">Usuarios</span></a>
                <div class="collapsible-body">
                    <ul>
                        <li class="active "><a href="{{ path('director_alumnos') }}">Alumnos</a></li>
                        <li><a href="{{ path('directivo_docentes') }}">Docentes</a></li>
                        <li><a href="{{ path('directivo_padres') }}">Padres</a></li>
                        <li><a href="{{ path('directivo_bedeles') }}">Bedeles</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li class="main-nav-pad"><a href="{{ path('directivo_grupos') }}"><i class="icon-linear-group-work icon-nav-size"></i> <span class="span-va">Grupos</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('directivo_grupos_alumnos') }}"><i class="icon-linear-users icon-nav-size"></i> <span class="span-va">Grupos de alumnos</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('directivo_materias') }}"><i class="icon-linear-book2 icon-nav-size"></i> <span class="span-va">Materias</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('directivo_calificaciones') }}"><i class="icon-linear-list3 icon-nav-size"></i> <span class="span-va">Calificaciones</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('directivo_convivencia') }}"><i class="icon-linear-calendar-user icon-nav-size"></i> <span class="span-va">Convivencia</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('home_father') }}"><i class="icon-linear-calendar-full icon-nav-size"></i> <span class="span-va">Calendario</span></a></li>
    <li class="main-nav-pad"><a href="boletin_directivo.html"><i class="icon-linear-license2 icon-nav-size"></i> <span class="span-va">Boletín</span></a></li>
    <li class="no-padding main-nav-pad ">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header"><i class="icon-linear-graph icon-nav-size"></i> <span class="span-va">Reportes</span></a>
                <div class="collapsible-body">
                    <ul>
                        <li class=""><a href="reportes_directivo.html">Generar</a></li>
                        <li><a href="configurar-reportes_directivo.html">Configurar</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>