<ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a href="{{ path('home') }}" class="brand-logo"><img class="responsive-img logo" src="{{ asset('bundles/boletines/images/communitas-isologotipo.png')}}"></a></li>
    <li class="main-nav-pad active"><a href="{{ path('home') }}"><i class="icon-linear-history icon-nav-size"></i><span class="span-va">Inicio</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('asistencia') }}" ><i class="icon-linear-clipboard-text icon-nav-size"></i> <span class="span-va">Asistencia</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('materia') }}"><i class="icon-linear-calendar-full icon-nav-size"></i> <span class="span-va">Materias</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('calificacion') }}"><i class="icon-linear-list3 icon-nav-size"></i> <span class="span-va">Calificar</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('calendario') }}"><i class="icon-linear-calendar-full icon-nav-size"></i> <span class="span-va">Calendario</span></a></li>
    <li class="main-nav-pad"><a href="{{ path('convivencia') }}"><i class="icon-linear-calendar-user icon-nav-size"></i> <span class="span-va">Convivencia</span></a></li>
</ul>
