{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}
    <li><a href="{{ path('calendario') }}" class="">Calendario</a></li>
    <li><i class="icon-linear-chevron-right bread-i"></i></li>
    <li><a href="#" class="b-focus">Detalle Actividad</a></li>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Detalle Actividad</h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <h6 class="header"><b>Nombre:</b> {{ actividad.nombre }}</h6>
            <h6 class="header"><b>Descripcion:</b> {{ actividad.descripcion }}</h6>
            <h6 class="header"><b>Del:</b> {{ actividad.fechaHoraInicio|date('d/m/Y H:i') }} <b>al:</b> {{ actividad.fechaHoraFin|date('d/m/y H:i') }}</h6>
        </div>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">
        {% if actividad.institucion %}
          <h5 class="header"><b>Institucion:</b> <a href="#">{{ actividad.institucion.nombre }}</a></h5>
        {% endif %}
        {% if actividad.establecimiento %}
          <h5 class="header"><b>Establecimiento:</b> <a href="#">{{ actividad.establecimiento }}</a></h5>
        {% endif %}
        {% if actividad.materia %}
          <h5 class="header"><b>Materia:</b> <a href="#">{{ actividad.materia }}</a></h5>
        {% endif %}
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l6">
        <h5 class="panel-title">Archivos asociados</h5>
        {% if actividad.archivos is not empty %}
        <div class="mail-attachments">
          <p><i class="icon-linear-paperclip"></i> <a id="downloadAll" href="{{ path('boletines_archivo_downloadZip') }}">Descargar todos</a></p>
          <ul class="list-group">
            {% for actividadArchivo in actividad.archivos %}
              {{ macros.show_item_entityFile(actividadArchivo) }}
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
{% endblock %}

{% block javascript %}
  <script src="{{ asset('bundles/boletines/js/fileFunctions.js') }}"></script>
{% endblock %}
