{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Docente list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id Docente</th>
                <th>Nombre docente</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for docente in entities %}
            <tr>
                <td>{{ docente.idDocente }}</td>
                <td><a href="{{ path('docente_show', { 'id': docente.idDocente }) }}">{{ docente.__toString() }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('docente_show', { 'id': docente.idDocente }) }}">Ver</a>
                    </li>
                    <li>
                        <a href="{{ path('docente_edit', { 'id': docente.idDocente }) }}">Editar</a>
                    </li>
                    <li>
                        <a href="{{ path('docente_delete', { 'id': docente.idDocente }) }}">Borrar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('docente_new') }}">
                Crear Nueva Docente
            </a>
        </li>
    </ul>
    {% endblock %}
