<!-- Main nav -->

    <nav class="main-nav">
        <div class="main-nav-wrapper father-nav">
            <ul class="hide-on-med-and-down">
                <li class="main-nav-pad center-align"><a href="{{ path('home_father') }}" class="active"><i class="icon-linear-history icon-nav-size"></i><br><span>Inicio</span></a></li>
                <li class="main-nav-pad center-align"><a href="{{ path('home_under_construction') }}"><i class="icon-linear-clipboard-text icon-nav-size"></i> <br><span>Asistencia</span></a></li>
                <li class="main-nav-pad center-align"><a href="{{ path('home_under_construction') }}"><i class="icon-linear-list3 icon-nav-size"></i> <br><span>Calificaciones</span></a></li>
                <li class="main-nav-pad center-align"><a href="{{ path('home_under_construction') }}"><i class="icon-linear-calendar-full icon-nav-size"></i> <br><span>Calendario</span></a></li>
                <li class="main-nav-pad center-align"><a href="{{ path('home_under_construction') }}"><i class="icon-linear-neutral icon-nav-size"></i> <br><span>Disciplina</span></a></li>
            </ul>
        </div>
    </nav>
