{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Materia edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('materia_edit', {'id':materia.idMateria }) }}" method="post">
        <input type="text" value="{{ materia.idMateria }}" hidden="hidden" name="id"><br/>
        <input type="text" value="{{ materia.nombreMateria }}" placeholder="nombre" name="nombreMateria"><br/>
        {% if materia.tipoMateria != null %}
            <p>TipoMateria Asociado</p>
            <p>{{ materia.tipoMateria.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idTipoMateria">
            {% for tipoMateria in entitiesRelacionadas %}

                <option value="{{tipoMateria.idTipoMateria}}">{{tipoMateria.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('materia') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
