{% extends 'BoletinesBundle:Layout:layout.html.twig' %}
{% block breadcrumb %}Materias{% endblock %}
{% block page %}
    <div class="row">
        <div class="col s12 m12 l12 mar-top-soft">
            <h4 class="header">Materias asignadas</h4>
        </div>
    </div>

    <div class="row mar-top-soft">

    {% for entity in entities %}
        <div class="col s12 m12 l12"> <!-- start materia-->
            <div class="panel-mini panel-assigment">
                <div class="row">
                    <div class="col s6">
                        <h5 class="panel-title">
                            <a href="{{ path('materia_show', {'id':entity.id }) }}">
                            {{ entity.__toString() }}
                            </a>
                        </h5>
                        <h4>
                            {% for grupo in entity.gruposAlumnos %}
                                {{ grupo ~ ' ' }}
                            {% endfor %}
                        </h4>
                    </div>
                    <div class="col s6 right-align">
                        <h5><i class="icon-linear-users2 d-d-i"></i> {{ entity.cantidadAlumnos }}</h5>
                        <h6>Alumnos</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 row mar-top-low right-align">
                        <i class="icon-linear-clock "></i>
                        {% for horario in entity.horarios %}
                            <span class="widget-time-date"> {{ horario}}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- end materia-->
       {% endfor %}
    </div>


    {% endblock %}
