{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entidad edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('entidad_edit', {'id':entidad.idEntidad }) }}" method="post">
        <input type="text" value="{{ entidad.idEntidad }}" hidden="hidden" name="idEntidad"><br/>
        <input type="text" value="{{ entidad.nombreEntidad }}" placeholder="nombre" name="nombreEntidad"><br/>
        {% if entidad.entityRelacionada != null %}
            <p>EntityRelacionada Asociado</p>
            <p>{{ entidad.entityRelacionada.__toString() }}</p>
            <p> Si desea cambiarlo elija uno de la lista de abajo</p>
        {% endif %}
        <select name="idEntityRelacionada">
            {% for entityRelacionada in entitiesRelacionadas %}

                <option value="{{entityRelacionada.idEntityRelacionada}}">{{entityRelacionada.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">No seleccionar ninguna</option>
        </select>
        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('entidad') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
