{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Entidad</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Entidad</th>
            <td>{{ entidad.idEntidad }}</td>
        </tr>
        <tr>
            <th>Entidad</th>
            <td>{{ entidad.nombreEntidad }}</td>
        </tr>
        {% if entidad.entityRelacionada != null %}
        <tr>
            <th>EntityRelacionada Asociado</th>
            <td>{{ entidad.entityRelacionada.__toString() }}</td>
        </tr>
        {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('entidad') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('entidad_edit', { 'id': entidad.idEntidad }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('entidad_delete', { 'id': entidad.idEntidad }) }}">Borrar</a></li>
</ul>
{% endblock %}
