{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calificacion creation</h1>


    <form action="{{ path('calificacion_new') }}" method="post">

        <input type="text" placeholder="Valor" name="valorCalificacion"><br/>
        <input type="text" placeholder="Comentario" name="comentarioCalificacion"><br/>

        <select name="idExamen">
            {% for examen in entitiesRelacionadas %}

                <option value="{{examen.idExamen}}">{{examen.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">Seleccione una examen creada</option>
        </select>
        <select name="idAlumno">
            {% for alumno in alumnosDelExamen %}

                <option value="{{alumno.id}}">{{alumno.__toString()}}</option>

            {% endfor %}
            <option value="-1" selected="selected">Seleccione una Alumno creado</option>
        </select>
        <br/><br/><br/>

        <button type="submit" >Crear Calificacion</button>


        <br/>
    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('calificacion') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
