{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Calificacion</h1>

    <table class="record_properties">
        <tbody>
        <tr>
            <th>Id Calificacion</th>
            <td>{{ calificacion.idCalificacion }}</td>
        </tr>
        <tr>
            <th>Calificacion</th>
            <td>{{ calificacion.nombreCalificacion }}</td>
        </tr>
        {% if calificacion.entityRelacionada != null %}
        <tr>
            <th>EntityRelacionada Asociado</th>
            <td>{{ calificacion.entityRelacionada.__toString() }}</td>
        </tr>
        {% endif %}

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('calificacion') }}">
           Volver a la lista
        </a>
    </li>
    <li>
        <a href="{{ path('calificacion_edit', { 'id': calificacion.idCalificacion }) }}">
            Editar
        </a>
    </li>
    <li> <a href="{{ path('calificacion_delete', { 'id': calificacion.idCalificacion }) }}">Borrar</a></li>
</ul>
{% endblock %}
