{% extends 'BoletinesBundle:Layout:layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path('boletin') }}" class="">Boletin</a></li>
  <li><i class="icon-linear-chevron-right bread-i"></i></li>
  <li><a href="#" class="b-focus">Cargar notas</a></li>
{% endblock %}

{% block page %}

<div class="row">
  {% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
      <div class="{{ type  }}-msg center-align fadeInDown animated"><i class="icon-linear-check msg-i"></i>{{ flashMessage }}</div>
    {% endfor %}
  {% endfor %}
  <div class="col s12 m12 l12 mar-top-soft">
    <h4 class="header">Carga de notas al boletín</h4>
  </div>
</div>

<div class="row mar-top-soft">
  <div class="col s12 m12 l12"> <!-- start materia-->
    <div class="panel-mini panel-assigment">
      <div class="row">
        <div class="col s6">
          <h5 class="panel-title">{{ materia.nombre }} </h5>
          <h4>
            {% for grupo in materia.gruposAlumnos %}
              {{ grupo ~ ' ' }}
            {% endfor %}
          </h4>
        </div>
        <div class="col s6 right-align">
          <h5><i class="icon-linear-users2 d-d-i"></i> {{ materia.cantidadAlumnos }}</h5>
          <h6>Alumnos</h6>
        </div>
      </div>
    </div>
  </div><!-- end materia-->
</div>

<form action="{{ path('boletin_cargar_nota', {'materiaId': materia.id, 'periodoId': periodo.id }) }}" method="post">

<div class="row">
  <div class="col s12 m12 l12 mar-top-soft">
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th>Alumno</th>
          {% for ep in evaluacionesPeriodo %}
              <th>{{ep.nombre}}</th>
          {% endfor %}
          <th>Nota sugerida</th>
          <th>Calificación</th>
          <th>Comentario</th>
        </tr>
      </thead>
      <tbody>
        {% for notaPeriodo in notasPeriodo %}
          <tr>
            <td><a href="{{ path('alumno_show', {'id': notaPeriodo.alumno.id}) }}">{{notaPeriodo.alumno}}</a></td>
            {% for ep in evaluacionesPeriodo %}
              {% set indexEp = loop.index0 %}
              {% for key, value in calificaciones %}
                {% if key == indexEp %}
                  {% for c in value %}
                      {% if c.alumno == notaPeriodo.alumno %}
                        <td>{{c.valor}}</td>
                      {% endif %}
                  {% endfor %}
                {% endif %}
              {% endfor %}
            {% endfor %}

            {% for notaSugerida in notasSugeridas %}
                {% if notaSugerida.alumno == notaPeriodo.alumno %}
                  <td>{{notaSugerida.valorCalificacion}}</td>
                {% endif %}
            {% endfor %}
            <td>
              <div class="input-field col s12">
                {% if notaPeriodo.validada %}
                  <div class="initialized">
                    {{ notaPeriodo.nota }}
                  </div>
                {% else %}
                  <select class="initialized" name="{{notaPeriodo.id}}nota">
                    {% for valorC in valoresCalificacion %}
                      <option value="{{valorC.id}}"{% if valorC == notaPeriodo.nota %} selected{% endif %}>
                        {{valorC}}
                      </option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div>
            </td>
            <td>
              <div class="input-field col s12">
                {% if notaPeriodo.validada %}
                  <div>{{notaPeriodo.comentario}}</div>
                {% else %}
                  <input id="last_name" type="text" class="validate" name="{{notaPeriodo.id}}comentario" value="{{notaPeriodo.comentario}}">
                  <label for="last_name">Comentario</label>
                {% endif %}
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="col s12 center-align mar-top-soft">
  <button type="submit" name="submit" class="btn-large waves-effect waves-light center-align mar-right">Guardar</button>
</div>

</form>

{% endblock %}
