{% extends 'BoletinesBundle:Layout:layout.html.twig' %}

{% block breadcrumb %}
    <li><a href="#" class="b-focus">Boletin</a></li>
{% endblock %}

{% block page %}

<div class="row">
  <div class="col s12 m12 l12 mar-top-soft">
    <h4 class="header">Carga de notas al boletín</h4>
  </div>
</div>

<div class="row mar-top-soft">

  <div class="col s12 m12 l12">
    <select value="periodo" id="periodo" onchange="toggle();">
      <option value="0" disabled selected>Seleccionar período</option>
      {% for periodo in periodos %}
          <option value="{{ periodo.id}}">{{ periodo.nombre }}</option>
      {% endfor %}
    </select>
  </div>

  {% for materia in materias %}
    <div class="col s12 m12 l12"> <!-- start materia-->
      <div class="panel-mini panel-assigment">
        <div class="row">
          <div class="col s6 m9 l9">
            <h5 class="panel-title truncate">{{ materia.nombre}} </h5>
            <h4>
              {% for grupo in materia.gruposAlumnos %}
                {{ grupo ~ ' ' }}
              {% endfor %}
            </h4>
          </div>
          <div class="col s6 m3 l3 right-align">
            <button id="link" type="button" name="button" class="btn-large waves-effect waves-light center-align mar-right" disabled data-href="{{ path('boletin_cargar_nota', {'materiaId':materia.id, 'periodoId':'periodoId' }) }}">Cargar notas</button>
          </div>
        </div>
      </div>
    </div><!-- end materia-->
  {% endfor %}
</div>

{% endblock %}

{% block javascript %}
<script>
  function toggle() {
    $('#link').prop('disabled',false);
  };

  (function(window, document, $) {
    if ($('#periodo').val() != null) {
      $('#link').prop('disabled',false);
    };
    $('#link').click( function(e) {
      e.preventDefault();
      var url = $(this).data("href");
      url = url.replace('periodoId', $('#periodo').val());
      document.location.href = url;
    });
  })(window, document, jQuery);
</script>
{% endblock %}
