{% extends '::base.html.twig' %}
{% block body -%}
    <h1>GrupoAlumno edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('grupoAlumno_edit', {'id':grupoAlumno.idGrupoAlumno }) }}" method="post">
        <input type="text" value="{{ grupoAlumno.idGrupoAlumno }}" hidden="hidden" name="idGrupoAlumno"><br/>
        <input type="text" value="{{ grupoAlumno.nombreGrupoAlumno }}" placeholder="nombre" name="nombreGrupoAlumno"><br/>
        <input type="hidden" name="esCurso" value="0">
        <input type="checkbox"
                {% if grupoAlumno.esCurso %}
               checked
               {% endif %}
               name="esCurso" value="1"><br/>

        <input type="submit" /><br/>
    </form>
    <ul class="record_actions">
        <li>
            <a href="{{ path('grupoAlumno') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
