{% extends '::base.html.twig' %}

{% block body -%}

    {{ include('BoletinesBundle::Institucion/fixed_nav.html.twig') }}
    {{ include('BoletinesBundle::Institucion/main_nav.html.twig', {'nav_selected': 'usuarios'}) }}


<!-- startMain content-->
<div class="container">
  <div class="row mar-top-soft">

    <div class="col s12 m8 l8">
    <h3 class="header">Belgrano Day School</h3>
    <h5 class="header">Nivel secundario</h5>
    </div>
    <div class="col s12 m4 l4 center-align">
    <img src="{{ asset('bundles/boletines/images/belgranods.jpg') }}" alt="as" class="inst-thumb mar-top-soft">
    </div><!--  End Tables Section  -->

</div>
<div class="divider mar-top-soft"></div>

    <div class="row mar-top-soft">

    <div class="col s10 m10 l10">
    <h3 class="h-h3"><i class="icon-linear-pencil"></i> Editar usuarios</h3>
    </div>
    <div class="col s2 m2 l2">
            <a href="{{ path('usuario_new2') }}" data-position="left" data-delay="25" data-tooltip="Crear nuevo usuario" class="tooltipped btn-floating btn-large waves-effect waves-light new-btn-marg"><i class="icon-linear-plus"></i></a>
          </div>

    <div class="col s12 m8 l12">
      <ul class="collapsible mar-top-soft" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active"><h5 class="panel-title"><i class="icon-linear-user"></i> Walterm<i class="icon-linear-chevron-down right"></i></h5></div>

      <div class="collapsible-body"> <!--  start user 1  -->
          <div class="row">
              <div class="col l12 pad-all-edit">
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_inst" type="text" class="validate">
                      <label for="nombre_inst">Nombre y apellido</label>
                  </div>
                    <div class="input-field col s12 m6 l6">
                      <input id="email" type="email" class="validate">
                      <label for="email">E-mail</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_apoderado" type="text" class="validate">
                      <label for="nombre_apoderado">Nombre de usuario</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="password" type="password" class="validate">
                      <label for="password">Contraseña</label>
                       <div class="col s12 m6 l6 right"><a href="{{ path('home_under_construction') }}" class="btn-xsmall mistake waves-effect waves-light">Eliminar</a> <a href="{{ path('home_under_construction') }}" class="btn-xsmall waves-effect waves-light">Guardar</a></div>
                  </div>
                </div>
          </div>
      </div> <!--  end user 1  -->
    </li>
    <li>
      <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-user"></i> Robertj<i class="icon-linear-chevron-down right"></i></h5></div>
              <div class="collapsible-body"> <!--  start user 1  -->
          <div class="row">
              <div class="col l12 pad-all-edit">
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_inst" type="text" class="validate">
                      <label for="nombre_inst">Nombre y apellido</label>
                  </div>
                    <div class="input-field col s12 m6 l6">
                      <input id="email" type="email" class="validate">
                      <label for="email">E-mail</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_apoderado" type="text" class="validate">
                      <label for="nombre_apoderado">Nombre de usuario</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="password" type="password" class="validate">
                      <label for="password">Contraseña</label>
                       <div class="col s12 m6 l6 right"><a href="{{ path('home_under_construction') }}" class="btn-xsmall mistake waves-effect waves-light">Eliminar</a> <a href="{{ path('home_under_construction') }}" class="btn-xsmall waves-effect waves-light">Guardar</a></div>
                  </div>
                </div>
          </div>
      </div> <!--  end user 1  -->
    </li>
    <li>
      <div class="collapsible-header"><h5 class="panel-title"><i class="icon-linear-user"></i> Isabelr<i class="icon-linear-chevron-down right"></i></h5></div>
              <div class="collapsible-body"> <!--  start user 1  -->
          <div class="row">
              <div class="col l12 pad-all-edit">
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_inst" type="text" class="validate">
                      <label for="nombre_inst">Nombre y apellido</label>
                  </div>
                    <div class="input-field col s12 m6 l6">
                      <input id="email" type="email" class="validate">
                      <label for="email">E-mail</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="nombre_apoderado" type="text" class="validate">
                      <label for="nombre_apoderado">Nombre de usuario</label>
                  </div>
                  <div class="input-field col s12 m6 l6">
                      <input id="password" type="password" class="validate">
                      <label for="password">Contraseña</label>
                       <div class="col s12 m6 l6 right"><a href="{{ path('home_under_construction') }}" class="btn-xsmall mistake waves-effect waves-light">Eliminar</a> <a href="{{ path('home_under_construction') }}" class="btn-xsmall waves-effect waves-light">Guardar</a></div>
                  </div>
                </div>
          </div>
      </div> <!--  end user 1  -->
    </li>
  </ul>



    </div>
   <!--  End Tables Section  -->

</div>


</div>
 <!-- end Main content-->

   {{ include('footer.html.twig') }}


{% endblock %}
