{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Usuario edit</h1>

    <h2>{{ mensaje }}</h2>

    <form action="{{ path('usuario_edit', {'id':usuario.idUsuario }) }}" method="post">
        <input type="text" value="{{ usuario.idUsuario }}" hidden="hidden" name="idUsuario"><br/>
        <input type="text" value="{{ usuario.nombreUsuario }}" placeholder="nombre" name="nombreUsuario"><br/>
        <input type="text" value="{{ usuario.nombreUsuarioParaMostrar }}" placeholder="nombre_usuario_para_mostrar" name="nombreUsuarioParaMostrar"><br/>
        <input type="password" value="{{ usuario.password }}" placeholder="password" name="password"><br/>

        <select name="idRol">
        {% for rol in entitiesRelacionadas %}
            <option value="{{rol.id}}">{{rol}}</option>
        {% endfor %}
            <option value="-1" selected="selected">Seleccione un rol para el usuario</option>
        </select>
        <br>

        <button type="submit">Editar Usuario</button>

    </form>

    <ul class="record_actions">
        <li>
            <a href="{{ path('usuario') }}">
                Volver a la lista
            </a>
        </li>
    </ul>
{% endblock %}
