{% extends '::base.html.twig' %}

{% block body -%}

{{ include('BoletinesBundle::Institucion/fixed_nav.html.twig') }}
{{ include('BoletinesBundle::Institucion/main_nav.html.twig', {'nav_selected': 'usuarios'}) }}


 <!-- startMain content-->
<div class="container">
  <div class="row mar-top-soft">

    <div class="col s12 m8 l8">
    <h3 class="header">{{ institucion.nombre }}</h3>
    </div>
    <div class="col s12 m4 l4 center-align">
        {% if institucion.logo %}
            <img src="{{ asset('') }}{{ institucion.webPath }}" alt="as" class="inst-thumb mar-top-soft">
        {% endif %}
    </div><!--  End Tables Section  -->

</div>
<div class="divider mar-top-soft"></div>

    <div class="row mar-top-soft">

    <div class="col s12 m8 l12">
    <h3 class="h-h3"><i class="icon-linear-plus"></i> Nuevo Usuario</h3>
    <h5 class="header">Todos los campos son obligatorios</h5>
    </div>
    <form action="{{ path('usuario_new_institucion',  {'institucionId': institucion.id }) }}" method="post">
      <div class="row">
        <div class="input-field col s12 m6 l6">
            <input name="nombre" id="nombre" type="text" class="validate">
            <label for="nombre">Nombre y Apellido</label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input name="email" id="email" type="text" class="validate">
            <label for="email">Email</label>
        </div>
        <div class="input-field col s12 m6 l6">
            <input name="password" id="password" type="password" class="validate">
            <label for="password">Contraseña</label>
        </div>
  </div>
        <div class="row">
            <button type="submit" class="btn-large waves-effect waves-light center-align">Crear Usuario</button>
        </div>
    </form>


   <!--  End Tables Section  -->

</div>


</div>
 <!-- end Main content-->

   {{ include('footer.html.twig') }}


{% endblock %}
